@import compass/css3/font-face

//
// LAYOUT
//

// Grid system
$size_base     : 16px
$m             : 1.5 * $size_base
$grid_columns  : 12
$columns_guter : $m
$grid_classes  : false
$width_fixed   : $m*50

// Main regions
$header  : '.region-header'
$header_height : 76 + 2*$m
$header_padding: $m
$content : '.region-content'
$content_margin_top: $m*2
$content_margin_bottom: $m*2
$footer  : '.region-footer'
$footer_height : $m*7
$footer_padding: $m 0
$sticky_footer: false
$toolbar_height: $m*2

// Minimum padding in responsive one-col-layouts
$min_padding: $m/2


//
//  COLORS
//

// Interface colors (from Bootstrap)
$color_calm    : #5bc0de
$color_success : #9d0
$color_warning : #f0ad4e
$color_danger  : #d9534f

// Site palette
// Pink
$palette_primary: #f9afeb
// Blue
$palette_secondary: #9ee5e1

// Element colors
$color_background           : white
$color_text                 : #333
$color_headers              : $color_text
$color_header_background    : $palette_primary
$color_header_text          : $color_text
$color_footer_background    : #222
$color_footer_text          : white

// Text selection
$color_selection_background : #dc5099
$color_selection_text       : white


//
//  FONTS
//

@import url("https://fonts.googleapis.com/css?family=Oxygen:300,700")
+font-face('civics', font-files("civics.woff", "civics.ttf", "civics.eot", "civics.svg"))
$font_text           : 'Oxygen', sans-serif
$font_headers        : 'Oxygen', sans-serif
$font_icons          : 'civics'
$font_text_weight    : 300
$font_headers_weight : 700

// Font sizes:
$size_headers  : (2rem, 1.75rem, 1.5rem, 1.25rem, 1rem, 0.85rem)
$size_big      : 1.25em
$size_small    : 0.85em
$size_smaller  : 0.75em
