{% load i18n utils %}

<div class="share">
    <p class="share__label">{% trans 'Comparte' %}</p>
    <ul class="share__links">
        <li class="share__link share__link--twitter">
            <a href="http://twitter.com/intent/tweet?text={{ title }}&url={{ url }}&hashtags=GRRR" target="_blank">
                {% icon 'twitter' 'Comparte en Twitter' %}
            </a>
        </li>
        <li class="share__link share__link--facebook">
            <a href="http://facebook.com/sharer/sharer.php?u={{ url }}" target="_blank">
                {% icon 'facebook' 'Comparte en Facebook' %}
            </a>
        </li>
        <li class="share__link share__link--google">
            <a href="http://plus.google.com/share?url={{ url }}" target="_blank">
                {% icon 'google' 'Comparte en Google +' %}
            </a>
        </li>
    </ul>
</div>
