{% load i18n %}
{% autoescape off %}

{% blocktrans %}
Has recibido este correo porque has requerido un cambio de contraseña para tu cuenta de usuari@ en {{ site_name }}.
{% endblocktrans %}

{% trans "Usa el siguiente enlace para escoger una contraseña nueva:" %}

{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Tu nombre de usuari@ en caso de que lo hayas olvidado es:" %}
{{ user.get_username }}

{% trans "Gracias por ser parte de civics.cc" %}

{% endautoescape %}
