{# Extend basic page #} {% extends 'layouts/single-fixed-column.html' %} {% load i18n %}
{% block body_classes %}password-reset{% endblock %} {% block htmltitle %}Password reset{% endblock %}


{# Content #}
{% block main %}
    {% if user.is_authenticated %}
        <p class="form-errors">
            {% blocktrans trimmed %}
                Ya estás autenticado en la plataforma.
            {% endblocktrans %}
        </p>
    {% endif %}

    {% include 'pages/title.html' with title='¿Olvidaste la contraseña?' %}

    <div class="password-reset-instructions">
        {% blocktrans trimmed %}
            Introduce la nueva contraseña. Hazlo por duplicado para comprobar que
            la has escrito bien.
        {% endblocktrans %}
    </div>

    {% include 'forms/regular-form.html' with form_title="Password reset" form=form form_class="password-reset" submit_text="Envía" %}

{% endblock %}
