{# Extend basic page #}
{% extends 'layouts/single-fixed-column.html' %} {% load i18n static %}
{% block body_classes %}password-reset-done{% endblock %}

{# Content #}
{% block main %}
{% include 'pages/title.html' with title="Hecho" %}
    {% blocktrans trimmed%}
        Te hemos enviado instrucciones para cambiar tu contraseña a tu correo electrónico.
        <br/>
        <em>Si no encuentras el correo comprueba el correo electrónico que has introducido se corresponde
        al de un usuari@ y no se te olvide comprobar la bandeja de spam</em>.
    {% endblocktrans %}
{% endblock %}
