{# Extend basic page #} {% extends 'layouts/single-fixed-column.html' %} {% load i18n static %}
{% block body_classes %}password-reset{% endblock %} {% block htmltitle %}Password reset{% endblock %}


{# Content #}
{% block main %}
    {% if user.is_authenticated %}
        <p class="form-errors">
            {% blocktrans trimmed %}
                Ya estás autenticado en la plataforma.
            {% endblocktrans %}
        </p>
    {% endif %}

    {% include 'pages/title.html' with title='Contraseña cambiada' %}

    <div class="password-reset-instructions">
        {% url 'auth_login' as login_url %}
        {% blocktrans trimmed %}
            La contraseña se ha cambiado con éxito.
            Ahora puedes <a href="{{ login_url }}">hacer login</a> en la plataforma.
        {% endblocktrans %}
    </div>

{% endblock %}
