{# Extend basic page #}
{% extends 'layouts/single-fixed-column.html' %} {% load i18n static %}
{% block body_classes %}registration{% endblock %}

{# Content #}
{% block main %}
    {% if user.is_authenticated %}
        <p class="form-errors">
            {% blocktrans trimmed %}
                Ya estás autenticado en la plataforma.
            {% endblocktrans %}
        </p>
    {% endif %}
    {% trans "Regístrate" as signin %}
    {% include 'pages/title.html' with title=signin %}
    {% trans 'Crea un usuari@' as register_submit %}
    {% include 'forms/regular-form.html' with form_title="Sign up" form=form form_class="registration" submit_text=register_submit %}
{% endblock %}
