{# Site front page #} {% extends 'layouts/single-fluid-column.html' %} {% load static utils %}
{% block body_classes %}front{% endblock %}

{% block page_header %}
    <link rel="stylesheet" href="{% static '/civics/angular/bower_components/leaflet/dist/leaflet.css' %}"></link>
    <link rel="stylesheet" href="{% static '/civics/angular/bower_components/angular-loading-bar/build/loading-bar.min.css' %}" type='text/css' media='all' />
{% endblock %}

{% block main %}
    <div ng-app="civics">
        <div ng-view></div>
    </div>
{% endblock %}

{% block page_scripts %}
    {# angular version 1.6.2 #}
    {% angular "bower_components/angular/angular.min.js" %}
    {% angular "bower_components/angular-route/angular-route.min.js" %}
    {% angular "bower_components/angular-loading-bar/build/loading-bar.js" %}
    {% angular "bower_components/leaflet/dist/leaflet.js" %}
    {% angular "bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js" %}
    {% angular "bower_components/PruneCluster/dist/PruneCluster.min.js" %}
    {% angular "bower_components/leaflet.locatecontrol/dist/L.Control.Locate.min.js" %}
    {% angular "services/Categories.js" %}
    {% angular "services/Initiatives.js" %}
    {% angular "services/Events.js" %}
    {% angular "services/Featured.js" %}
    {% angular "services/Settings.js" %}
    {% angular "services/XlsDownloader.js" %}
    {% angular "controllers/mapController.js" %}
    {% angular "controllers/listController.js" %}
    {% angular "controllers/featuredController.js" %}
    {% angular "directives/directives.js" %}
    {% angular "i18n.js" %}
    {% angular "app.js" %}
{% endblock %}
