{# Renders a template with a single column of fixed with #}
{% extends 'base.html' %} {% block layout_classes %}single-fluid{% endblock %}

{% block layout %}

    {% include 'regions/header.html' with region_name='header' html_container='header' layout='fluid' %}

    <div class="region-content">
        <div class="container-fluid">
            <main class="layout-main">
                {% block main %}{% endblock %}
            </main>
        </div>
    </div>

    {% include 'regions/footer.html' with region_name='footer' html_container='footer' layout='fluid' %}

{% endblock %}
