{# Toolbar region #} {% extends 'regions/region-base.html' %} {% load utils static i18n %}

{% block region_content %}
    <div class="region-{{ region_name }}__left">
        <figure class="civics-logo">
            <a href="{% url 'front' %}" title="{% trans 'Ir a la pantalla de inicio' %}">
                <img src="{% static 'civics/img/logo-civics.svg' %}" />
            </a>
        </figure>
    </div>
    <div class="region-{{ region_name }}__right">
            <div class="navigation-trigger" onclick="document.querySelector('.region-toolbar__right').classList.toggle('active')">
                <p class="b1"></p><p class="b2"></p><p class="b3"></p>
            </div>
            <ul class="main-menu">
                <li class="main-menu__link main-menu__link--about">
                    <a href="{% url 'about' %}">{% trans 'Acerca' %}</a>
                </li>
                <li class="main-menu__link main-menu__link--initiatives">
                    <a href="/#!/iniciativas">
                        {% trans 'Iniciativas' %}
                    </a>
                </li>
                <li class="main-menu__link main-menu__link--events">
                    <a href="/#!/eventos">
                        {% trans 'Agenda' %}
                    </a>
                </li>
            </ul>
        <ul class="user-actions">
            <li class="user-actions__hello">
                {% if request.user.is_authenticated %}
                    {{ current_user_hello | safe }}
                {% endif %}
            </li>
            <li class="user-actions__io">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'auth_logout' %}"
                       title="{% trans 'Sal de la plataforma' %}">
                        {% trans 'Logout' %}
                    </a>
                {% else %}
                    <a href="{% url 'auth_login' %}"
                       title="{% trans 'Entra en la plataforma o regístrate en ella' %}">
                        {% trans 'Entrar/Añadir' %}
                    </a>
                {% endif %}
            </li>
            <li class="user-actions__admin">
                {% if request.user.is_staff %}
                    <a href="{% url 'admin:index' %}"
                       title="{% trans 'Ve a la zona administrativa de Civics' %}">
                        {% trans 'Administra' %}
                    </a>
                {% endif %}
            </li>
        </ul>
        {% include 'forms/language-switcher.html' %}
    </div>
{% endblock %}
