{# Toolbar region #} {% extends 'regions/region-base.html' %} {% load utils static i18n %}

{% block region_content %}
    <div class="region-{{ region_name }}__left">
        <a href="{% url 'front' %}">
            <object class="civics-logo--toolbar" data="{% static 'civics/img/logo-civics.svg' %}"></object>
        </a>
    </div>
    <div class="region-{{ region_name }}__right">
            <div class="navigation-trigger" onclick="document.querySelector('.region-toolbar__right').classList.toggle('active')">
                <p class="b1"></p><p class="b2"></p><p class="b3"></p>
            </div>
            <ul class="main-menu">
                <li class="main-menu__link main-menu__link--about">
                    <a href="{% url 'about' %}">{% trans 'Acerca' %}</a>
                </li>
                <li class="main-menu__link main-menu__link--initiatives">
                    <span>{% trans 'Iniciativas' %}</span>
                    <ul class="main-menu__submenu">
                        <li class="main-menu__submenu-link">
                            <a href="/#!/iniciativas">{% trans 'Mapa' %}</a>
                        </li>
                        <li class="main-menu__submenu-link">
                            <a href="/#!/iniciativas-lista">{% trans 'Lista' %}</a>
                        </li>
                        <li class="main-menu__submenu-link">
                            <a href="/#!/iniciativas-destacadas">{% trans 'Destacadas' %}</a>
                        </li>
                    </ul>
                </li>
                <li class="main-menu__link main-menu__link--events">
                    <span>{% trans 'Agenda' %}</span>
                    <ul class="main-menu__submenu">
                        <li class="main-menu__submenu-link">
                            <a href="/#!/eventos">{% trans 'Mapa' %}</a>
                        </li>
                        <li class="main-menu__submenu-link">
                            <a href="/#!/eventos-lista">{% trans 'Lista' %}</a>
                        </li>
                        <li class="main-menu__submenu-link">
                            <a href="/#!/eventos-destacados">{% trans 'Destacados' %}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        <ul class="user-actions">
            <li class="user-actions__action user-actions__action--hello">
                {% if request.user.is_authenticated %}
                    {{ current_user_hello | safe }}
                {% endif %}
            </li>
            <li class="user-actions__action user-actions__action--admin">
                {% if request.user.is_staff %}
                    <a href="{% url 'admin:index' %}">· {% trans 'Admin' %} ·</a>
                {% endif %}
            </li>
            <li class="user-actions__action user-actions__action--login-logout">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'auth_logout' %}">{% trans 'Logout' %}</a>
                {% else %}
                    <a href="{% url 'auth_login' %}">{% trans 'Login/Signin' %}</span></a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}
