{# Template to render a formfield #}

{% with field.name|slugify as fieldname %}

<div class="form-field--{{ fieldname }} {% if field.field.required %}required{% endif %}">
    <p class="form-field__label--{{ fieldname }}">
        {{ field.label }}
    </p>
    <p class="form-field__widget--{{ fieldname }}">
        {{ field }}
    </p>
    <p class="form-field__help--{{ fieldname }}">
        {{ field.help_text }}
    </p>
    {% if field.errors %}
    <ul class="form-field__errors--{{ fieldname }}">
        {% for error in field.errors %}
          <li class="form-field__error--{{ fieldname }}">
              {{ error }}
          </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endwith %}
