{# Template to render all fields in a form #}
{# Not included in form.html to be reusable (in the context of a composed form, for instance) #}
{% load i18n %}

<div class="form-fields--{{ form_class }}">
    {% include 'forms/field.html' with field=form.name %}
    {% include 'forms/field.html' with field=form.name_pt %}
    {% include 'forms/field.html' with field=form.name_en %}
    {% include 'forms/field.html' with field=form.country %}
    {% include 'forms/field.html' with field=form.position %}
</div>
