{# Template to render all fields in a form #}
{# Not included in form.html to be reusable (in the context of a composed form, for instance) #}
{% load i18n %}

<div class="form-fields--{{ form_class }}">
    <div class="fieldset--two-col">
        <div class="fieldset__left--two-col">
            {% include 'forms/field.html' with field=form.title %}
            {% include 'forms/field.html' with field=form.description  %}
            {% include 'forms/field.html' with field=form.initiative %}
        </div>
        <div class="fieldset__right--two-col">
            {% include 'forms/field.html' with field=form.image  %}
            {% include 'forms/field.html' with field=form.video  %}
        </div>
    </div>
    <div class="fieldset--inline">
        {% include 'forms/field.html' with field=form.topic %}
        {% include 'forms/field.html' with field=form.category %}
        {% include 'forms/field.html' with field=form.agent %}
    </div>
    <div class="fieldset--two-col">
        <div class="fieldset__left--two-col">
            {% include 'forms/field.html' with field=form.date %}
        </div>
        <div class="fieldset__right--two-col">
            {% include 'forms/field.html' with field=form.time %}
        </div>
    </div>
    <div class="fieldset--two-col">
        <div class="fieldset__left--two-col">
            {% include 'forms/field.html' with field=form.city %}
        </div>
        <div class="fieldset__right--two-col">
            {% include 'forms/field.html' with field=form.address %}
        </div>
        <div class="fieldset__full--two-col">
            {% include 'forms/field.html' with field=form.position %}
        </div>
    </div>
    {% include 'forms/field.html' with field=form.website %}
</div>
