{# Lang switcher #} {% load i18n utils %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<form class="lang-switcher" id="lang-switcher" action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path | remove_i18n_prefix }}" />
    <select class="lang-switcher__select" name="language" onchange="document.querySelector('#lang-switcher').submit()">
        {% for language in languages %}
            <option value="{{ language.code }}"
             {% if language.code == LANGUAGE_CODE %} selected="selected" {% endif %}>
                {{ language.code }}
            </option>
        {% endfor %}
    </select>
</form>
