{# Script to import events from google and facebook #}
{% load i18n static %}

<script type="text/javascript">

// Load the Facebook Graph SDK asynchronously
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

/**
 *  This is called with the results from from FB.getLoginStatus()
 *  @see dashboard.html
 */
function statusChangeCallback(response) {
  if (response.status === 'connected'){
    $('.import-events').addClass('facebook');
    fetchEvents();
  } else {
    $('.import-events').addClass('nofacebook');
  }
}

// Login to Facebook
function fb_login(){
    FB.login( function(reponse){
        fetchEvents();
        $('.import-events').removeClass('nofacebook');
        $('.import-events').addClass('facebook');
    }, { scope: 'user_events' });
}

//Get the Django CSRF token
function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
             var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
           }
        }
    }
    return cookieValue;
}

//New Facebook and google events
var social_networks_events = [];

/**
 *  Invoked to add a Facebook event to Django database
 *   @see apps/api/views
 */
function add_to_events(index){
    data = social_networks_events[index];
    // We have to pass django's CSRF token to receive 200 response
    data['csrfmiddlewaretoken'] = getCookie('csrftoken');
    // Get event initiative and category
    var current_item = $('.import-events__list li')[index];
    data['initiative'] = $('.import-events__user-initiatives', current_item).val();
    var initiative_name = $('.import-events__user-initiatives option:selected', current_item).text();
    data['category'] = $('.import-events__event-categories', current_item).val();
    data['user'] = {{ uid }};
    if( !data['date'] ){
        data['date'] = $('.import-events__event-date', current_item).val();
    }
    if( !data['time'] ){
        data['time'] = $('.import-events__event-time', current_item).val();
    }
    console.log(data);
    // Create event
    $.post('/api/event_create', data, function(response){
        // Show event in event list
        var new_event = $('<a/>', { href : "{% url 'modelforms:edit_event' 1 %}".replace(/1/, response) });
        var wrapper = $('<div/>', { class : "events--dashboard__item" });
        wrapper.append('<figure class="events--dashboard__item-image"><span class="icon-agent"></span></figure');
        var e_initiative = '<p class="events--dashboard__item-initiative">' + initiative_name + '</p>';
        var e_name = '<h5 class="events--dashboard__item-name">' + data.name + '</h5>';
        var e_date = '<p class="events--dashboard__item-date">{% trans "Fecha del evento" %}: ' + data.date +'</p>';
        wrapper.append('<div>' + e_initiative + e_name + e_date + '</div>');
        new_event.append(wrapper);
        $('.events--dashboard__items-empty').hide();
        $('.current-events').append(new_event);
        // Update count
        var count = parseInt($('.events--dashboard__count span').text()) + 1;
        $('.events--dashboard__count span').text(count);
        // Remove event from data and social network events list
        social_networks_events.splice(index, 1);
        $('.import-events__list li')[index].remove();
        // If empty show a no-results tip
        if( $('.import-events__list li').length === 0 ){
            $('.import-events__empty').show();
        }
    });
}

//Util function to format dates properly
function pad(n) { return n<10 ? '0' + n : n }

/**
 *  Layout event to be imported
 *  Creates the markup for a single event to be imported
 */
function eventMarkup(e, i, source){
    var markup      = $("<li/>", {
        class : "import-events__item" }
    );
    markup.append('<p class="import-events__item-name"><span class="source--' + source + '"></span> ' + e.name + '</p>');
    if(e.facebook_id)
        markup.append('<p class="import-events__item-date">' + e.date + ', ' + e.time + ' (' + e.city + ')</p>');
    markup.append('<label class="import-events__label">{% trans "Iniciativa" %}</label>');
    var initiatives = $("<select/>", {
        id    : 'initiatives_' + i,
        class : 'import-events__user-initiatives',
        text : "{{ initiative_text }}"
    });
    {% for initiative in initiatives %}
        var option = $("<option/>", {
            value: "{{ initiative.id }}",
            text: "{{ initiative.name }}"
        });
        initiatives.append(option);
    {% endfor %}
    markup.append(initiatives);
    markup.append('<label class="import-events__label">{% trans "Categoría" %}</label>');
    var cats        = $("<select/>", {
        id    : 'categories_' + i,
        class : 'import-events__event-categories',
        text : "{% trans 'Elige el tipo de actividad' %}"
    });
    {% for cat in event_categories %}
        var option = $("<option/>", {
            value: "{{ cat.0 }}",
            text: "{{ cat.1 }}"
        });
        cats.append(option);
    {% endfor %}
    markup.append(cats);
    if(e.google_id){
        markup.append('<label class="import-events__label">{% trans "Fecha" %}</label>');
        var date  = $("<input/>", {
            type  : 'text',
            placeholder : "{% trans 'Fecha en formato dd/mm/aaaa' %}",
            class : 'import-events__event-date',
        });
        markup.append(date);
        markup.append('<label class="import-events__label">{% trans "Hora" %}</label>');
        var hour  = $("<input/>", {
            type  : 'text',
            placeholder : "{% trans 'Hora en formato hh:mm' %}",
            class : 'import-events__event-time',
        });
        markup.append(hour);
    }
    var button = $('<p/>', {
        class : "import-events__submit",
        text  : "{% trans 'Importar' %}",
        click : function(e){
          var item = $(e.target).parent('li');
          var index = $('.import-events__item').index(item);
          add_to_events(index);
        }
    })
    markup.append(button);
    return markup;
}

/**
 *  Simple interface test with mock data
 */
var test = function(){
    for(var i = 0; i < 5; i++)
    {
        var event = {
            name        : "Example " + i,
            description : "Lorem ipsum",
            //date        : "2017-12-10",
            //time        : "12:00",
            //lat         : "44",
            //lon         : "0",
            //city        : "Mordor",
            //address     : "Monte del Destino, s/n",
            //facebook_id : "0",
        };
        social_networks_events.push(event);
        $('.import-events__list').append(eventMarkup(event, i, 'facebook'));
    }
};


/**
 *  Fetch events from FB.
 *  Format and store them in an array to be imported to Django
 */
function fetchEvents(id) {
    FB.api('/me/events', function(response){
        events = response.data;
        if( events.length > 0){
            $('.import-events__help').show();
        }
        // Check if event ID is already in Django database
        // to show only new events
        $.get('/api/events_fb_id', {}, function(response){
            for(i in events){
                var e = events[i];
                if(response.indexOf(e.id) == -1 || response.length == 0){
                    var date = new Date(e.start_time)
                    var event = {
                        name          : e.name,
                        description   : e.description,
                        date          : date.getFullYear()  + "-" + pad(date.getMonth()+1) + "-" + pad(date.getDate()),
                        time          : date.toLocaleTimeString(),
                        address       : e.place.name,
                        facebook_id   : e.id,
                    };
                    if(e.place.location){
                        event.lat  = e.place.location.latitude;
                        event.lon  = e.place.location.longitude;
                        event.city = e.place.location.city;
                    }
                    social_networks_events.push(event);
                    $('.import-events__list').append( eventMarkup(event, $('.import-events__list').length, 'FB') );
                    $('.import-events__empty').hide();
                }
            }
        });
    });
}

// Disconnect from facebook

$('.import-events__action.facebook').click( function(){
  FB.logout();
  $('.import-events').addClass('nofacebook');
  $('.import-events').removeClass('facebook');
});

{# Connect with facebook #}
window.fbAsyncInit = function() {
    FB.init({
        appId      : {{ facebook_id }},
        cookie     : true,  // enable cookies to allow the server to access the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.8' // use graph api version 2.8
    });
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
};


/**
 * Google events
 * @see https://github.com/googleplus/gplus-quickstart-javascript/blob/master/index.html
 */

var auth2 = {};

var helper = (function() {
    return {
        /**
         * Hides the sign in button and starts the post-authorization operations.
         *
         * @param {Object} authResult An Object which contains the access token and
         *   other authentication information.
         */
        onSignInCallback: function(authResult) {
            $('#authResult').html('Auth Result:<br/>');
            for (var field in authResult) {
              $('#authResult').append(' ' + field + ': ' +
                  authResult[field] + '<br/>');
            }
            // Connection was succesful
            if (authResult.isSignedIn.get()) {
                $('.import-events').addClass('google');
                $('.import-events').removeClass('nogoogle');
                helper.events();
            // Connection was refused
            } else {
                if (authResult['error'] || authResult.currentUser.get().getAuthResponse() == null) {
                  console.log('There was an error: ' + authResult['error']);
                }
                $('.import-events').addClass('nogoogle');
                $('.import-events').removeClass('google');
            }
            //console.log('authResult', authResult);
        },

        /**
         * Calls the OAuth2 endpoint to disconnect the app for the user.
         */
        disconnect: function() {
            // Revoke the access token.
            auth2.disconnect();
        },

        /**
         * Gets and renders the list of people visible to this app.
         */
        events: function() {
            // @see https://developers.google.com/+/web/api/rest/latest/activities/list
            gapi.client.plus.activities.list({
                'userId': 'me',
                'collection': 'public'
            }).then(function(response) {
                var events = response.result.items;
                $.get('/api/events_fb_id', {}, function(current_ids){
                    for(i in events){
                        // @see https://developers.google.com/+/web/api/rest/latest/activities/get
                        var e = events[i];
                        id    = e.id;
                        if(current_ids.indexOf(id) == -1 && e.verb == 'post'){
                            var event = {
                                name          : e.object.attachments[0].displayName,
                                description   : e.object.attachments[0].content,
                                google_id     : id,
                            };
                            social_networks_events.push(event);
                            $('.import-events__list').append( eventMarkup(event, $('.import-events__list').length, 'G') );
                            $('.import-events__empty').hide();
                        }
                    }
                });
            });
        },
    };
})();

$('.import-events__action.google').click( function(){
  auth2.disconnect();
  $('.import-events').addClass('nogoogle');
  $('.import-events').removeClass('google');
});

/**
 * Google
 * Handler for when the sign-in state changes.
 *
 * @param {boolean} isSignedIn The new signed in state.
 */
var updateSignIn = function() {
  if (auth2.isSignedIn.get()) {
    helper.onSignInCallback(gapi.auth2.getAuthInstance());
  }else{
    helper.onSignInCallback(gapi.auth2.getAuthInstance());
  }
}

/**
 * This method sets up the sign-in listener after the client library loads.
 * (Google signin callback equivalent to statusChangeCallback)
 */
function startApp() {
    gapi.load('auth2', function() {
        gapi.client.load('plus','v1').then(function() {
          gapi.signin2.render('signin-button', {
              scope: 'https://www.googleapis.com/auth/plus.login',
              fetch_basic_profile: false });
          gapi.auth2.init({fetch_basic_profile: false,
              scope:'https://www.googleapis.com/auth/plus.login'}).then(
                function (){
                    auth2 = gapi.auth2.getAuthInstance();
                    auth2.isSignedIn.listen(updateSignIn);
                    auth2.then(updateSignIn);
                });
        });
    });
}

</script>

{# Connect with google #}
<script src="https://apis.google.com/js/client:platform.js?onload=startApp"></script>
