@import compass/css3/transition
@import compass/css3/opacity

.grid
  padding: $m
  +breakpoint('md')
    padding: $m*4 $m*6
  background: image-url('signin-bg.png') repeat #eae9e9
  height: calc(100vh - 128px)
  overflow-y: auto
  +transition(left .1s ease)

.grid.featured
  height: calc(100vh - 56px)

[class^='grid__subtitle--']
  text-transform: uppercase
  text-align: center
.grid__subtitle--initiatives
  color: #dc5099
.grid__subtitle--events
  color: #029c93

.grid__item
  +inline-block
  width: 100%
  padding: $m/4
  position: relative
  +transition(opacity .15s ease)
  +breakpoint('sm')
    width: 50%
  +breakpoint('md')
    width: 33%
  +breakpoint('lg')
    width: 25%
  &:hover
    cursor: pointer
    +opacity(.9)

.grid__item img
  +box_shadow(0 0 5px rgba(black, .25))
  background: #eee

.grid__item-name
  text-transform: uppercase
  font-size: .9em

.grid__item-caption
  font-size: $size_small
  background: rgba(white, .9)
  padding: $m/2
  margin-top: -5px

.grid__item-blank-image
  +box-shadow(0 0 10px rgba(black, .2))
  width: 100%
  height: 50%
  text-align: center
  padding: $m*2 0
  span
    font-size: 100px
    color: #555
  background-color: #dedede

.grid__item-name
  +h(5)

.initiatives-grid__pager
  +clearfix
  margin-bottom: $m*2
  text-transform: uppercase
  font-size: .9em
.initiatives-grid__pager.bottom
  margin-top: $m*2

.initiatives-grid__pager-link
  &:first-child
    margin-right: $m/2
  background-color: white
  padding: 4px 8px
  &:hover
    cursor: pointer

.initiatives-grid__pager-links
  +breakpoint('xs')
    margin-top: $m
    text-align: center
  +breakpoint('sm')
    float: right
    display: inline

.initiatives-grid__pager-info
  text-align: center
  +breakpoint('sm')
    display: inline

.grid__item-date
  position: absolute
  top: $m/2
  right: $m/2
  background: rgba(white, .9)
  text-align: center
  padding: $m/3
.grid__item-date-day
  font-size: 1.5em
.grid__item-date-month
  text-transform: uppercase

.grid__no-results
  width: 480px
  margin: $m*2 auto
  padding: $m
  font-size: 1.5em
  background: rgba(white, .5)
  +border-radius(12px)
