@import compass/css3/transition

#initiatives-map,
#events-map
  position: fixed
  top: 134px
  left: 0
  right: 100vw
  height: calc(100vh - 136px) !important
  z-index: -1
  +transition(left .15s ease)

#initiatives-map,
#events-map
  &.collapsed
    left: 640px
    .leaflet-marker-icon
      opacity: .25 !important
    .leaflet-marker-icon.selected
      opacity: 1 !important

.leaflet-control-layers-overlays
  display: none

//Disable hovers on country choropleths
path.leaflet-clickable:hover
  cursor: inherit

#initiatives-map,
#events-map
  .leaflet-top
    top: $m*2
  .leaflet-top.leaflet-right
    top: 0
    left: 10px
    right: inherit
  .leaflet-control-attribution
    +links_normal
    background-color: white
    letter-spacing: 1px
    font-size: $size_small
