@import compass/css3/transition

#initiatives-map,
#events-map
  width: 100%
  position: relative
  height: calc(100vh - 130px) !important
  +transition(left .15s ease)

#initiatives-map,
#events-map
  &.collapsed
    left: 100%
    +breakpoint('sm')
      left: 480px
      width: calc(100% - 480px) !important
    // .leaflet-marker-icon
    //   opacity: .25 !important
    // .leaflet-marker-icon.selected
    //   opacity: 1 !important

.leaflet-control-layers-overlays
  display: none

//Disable hovers on country choropleths
path.leaflet-clickable:hover
  cursor: inherit

#initiatives-map,
#events-map
  .leaflet-top
    top: 74px
  .leaflet-top.leaflet-right
    top: 0
    left: 10px
    right: inherit
  .leaflet-control-attribution
    +links_normal
    background-color: white
    letter-spacing: 1px
    font-size: $size_small

.prunecluster
  background: white !important
  line-height: 42px
  text-align: center
  +border-radius(50%)
  +box-shadow(0 0 10px rgba(black, .5))
  font-family: $font_text
  font-weight: bold
  color: #333

.leaflet-bottom.leaflet-right
  left: 0
  right: inherit

#initiatives-map,
#events-map
  .leaflet-control-layers-toggle
    background-image: url('../img/layers.png') !important
    background-size: cover
    width: 26px
    height: 26px

.leaflet-expand
  position: absolute
  top: 46px
  left: 10px
  text-align: center
  z-index: 100
  width: 26px
  line-height: 26px
  background: white
  +box-shadow(0 0 10px rgba(black, .5))
  &:hover
    cursor: pointer
