@import compass/css3/transform
@import compass/css3/transition

.main-menu
  display: none !important
  padding: $m
  text-align: center
  margin-top: $m*2
  +breakpoint('sm')
    margin-top: 0
    width: calc(100% - 300px)
    display: inline-block !important
    padding: inherit

.main-menu__link
  +links_toolbar

.main-menu__link--active
  a
    border-color: $color_text !important

.main-menu__link
  width: 100%
  +breakpoint('sm')
    display: inline-block
    width: 32%
    margin: 0
