@import compass/css3/inline-block
@import compass/css3/border-radius

.map-actions,
.calendar-actions
  background: #eee
  min-height: 36px
  line-height: 30px
  left: 0
  width: 100%
  padding: 0 $m/2
  border-bottom: 4px solid #eee
  position: relative

.markers-count
  +inline-block
  margin-right: $m/2

.markers-count__label
  color: #555

.map-actions__actions,
.calendar-actions__actions
  position: absolute
  float: right
  right: $m
  top: 4px
  span
    +transition(color .15s ease)
    &:hover
      cursor: pointer
      color: #555

.map-actions__action--share,
.calendar-actions__action--share
  +inline-block

[class^='map-actions__action']
  padding-left: $m/3

.filter-tags
  display: inline

.filter-tags li
  +inline-block
  text-transform: uppercase
  font-size: .75em
  margin: 0 4px 0
  padding: 0 8px
  line-height: $m
  +transition(background-color .15s ease)
  background: #ddd
  +border-radius(4px)
  &:hover
    background-color: #fff
    cursor: pointer

.filter-tags__close
  font-weight: bold
  font-size: 1.25em
  color: #555
  line-height: 1em
  margin-left: $m/6

.filter-tags__remove
  background: none !important
  +h(5)
