// ODS popup

.ods-popup
  width: 480px
  left: 0
  top: $m*2.25
  height: calc(100vh - #{$m*2.25})
  z-index: 99000
  position: absolute
  padding-top: $m*3
  cursor: pointer
  transition: left 1.5s ease
  padding: $m
  background: white
  &:after
    content: "\1F7A2"
    position: absolute
    top: $m
    right: $m
    color: #dc5099
    font-size: 2em
    display: inline-block
    transform: rotate(45deg)
.ods-popup.hidden
  display: block
  left: -480px
.ods-popup__header
  width: 90%
  margin: 0 auto $m
.ods-popup__content
  margin-bottom: $m
  font-size: .95em
