// ODS popup

.ods-popup
  width: 100vw
  left: 0
  top: 0
  height: calc(100vh - #{$m*2.25})
  z-index: 99000
  position: absolute
  cursor: pointer
  transition: left 1.5s ease

.ods-popup__inner-wrapper
  width: 480px
  background: white
  margin-top: $m*2.25
  padding: $m
  height: calc(100vh - #{$m*2.25})
  position: relative
  &:after
    content: "+"
    position: absolute
    top: $m
    right: $m
    color: #dc5099
    font-size: 2em
    display: inline-block
    transform: rotate(45deg)
.ods-popup.hidden
  display: block
  left: -100vw
.ods-popup__header
  width: 90%
  margin: 0 auto $m
.ods-popup__content
  margin-bottom: $m
  font-size: .95em
