@import compass/css3/animation

.region-toolbar
  background: white
  font-family: $font_text


.region-messages
  position: absolute
  top: $m*6
  width: 50%
  left: 25%
  margin: $m*2
  text-transform: uppercase
  font-family: $font_text
  font-size: $size_small
  text-transform: uppercase
  +opacity(0)
  +animation(hideup 5s 1)

.messages-list__msg.success
  background: rgba($color_success, .75)
  padding: $m
  color: white
