.login,
.registration
  main
    text-align: center

.form--registration,
.form--login
  +generic_form

.loginform-links
  +links_normal
.loginform-links__link
  text-transform: uppercase
  font-size: $size_small
  padding: $m/2
