@import compass/css3/box-shadow

.login,
.registration
  .page-title
    font-size: 1.2rem
    text-transform: uppercase
    margin: $m 0
  main
    text-align: center
    padding: $m
    background-color: white
    width: 360px
    float: right
    +box-shadow(0 0 10px rgba(black, .25))

.form--registration,
.form--login
  +generic_form


.loginform-links
  +links_normal
.loginform-links__link
  font-size: $size_small

.login
  background: image-url('login-bg.png') repeat #eae9e9
.registration
  background: image-url('signin-bg.png') repeat #eae9e9
