.user-actions
  text-align: right
  display: none !important
  height: 20px
  +breakpoint('sm')
    display: inline-block !important

.main-menu.active + .user-actions
  display: block !important

.user-actions__action
  display: inline
  margin-left: $m/2
  vertical-align: middle

.user-actions__action--hello,
.user-actions__action--admin
  text-transform: uppercase
  font-size: $size_smaller
  +breakpoint('sm')
    +links_normal

.user-actions__action--login-logout
  +links_social
