// User general actions (login, logout, profile) block

.user-actions
  display: none
  text-align: right
  +clearfix
  +breakpoint('sm')
    height: 20px
    text-align: right
    display: inline-block
    float: right
    width: 250px
    margin-right: $m*2
    font-size: $size_smaller

.main-menu.active + .user-actions
  display: block !important

.user-actions
  +links_toolbar
  line-height: $m*1.5
  +breakpoint('sm')
    line-height: 20px

.user-actions__hello,
.user-actions__admin
  text-transform: uppercase
// .user-actions__hello .create-link,
// .user-actions__admin
//   +breakpoint('sm')
//     position: absolute
//     right: $m*3
.user-actions__admin
  float: right
.user-actions__io
  font-weight: 700
  float: right
  margin-left: $m
