  <!-- Navigation filters on initiative map -->

<ul class="map-filters--{{content.section}}">
    <li class="map-filters__filter--{{content.section}}">
        <p class="map-filters__label">
            <span class="icon-city"></span>
            <span class="map-filters__filter-name">Ciudad</span>
        </p>
        <ul class="map-filters__categories--{{content.section}}">
            <div ng-repeat="(country,cities) in content.cities">
                <div class="cities-wrapper">
                    <p class="category-country">{{ country }}</p>
                    <li class="map-filters__category category-city"
                        ng-click="console.log('eh'); content.toggleFilter('cities', city, true, coords)"
                        ng-repeat="(city,coords) in cities"
                        ng-class="{ 'active' : content.active_legend_items['cities'][city] }">
                        {{ city }}
                    </li>
                </div>
            </div>
        </ul>
    </li>
    <li class="map-filters__filter--{{content.section}}">
        <p class="map-filters__label">
           <span class="icon-topic"></span>
           <span class="map-filters__filter-name">Temática</span>
        </p>
        <ul class="map-filters__categories--{{content.section}}">
            <li class="map-filters__category category-topic-{{key}}"
                ng-repeat="(key,name) in content.topics"
                ng-click="content.toggleFilter('topics', key)"
                ng-class="{ 'active' : content.active_legend_items['topics'][key] }">
                {{ name }}
            </li>
        </ul>
    </li>
    <li class="map-filters__filter--{{content.section}}" ng-if="content.section == 'initiatives'">
        <p class="map-filters__label">
            <span class="icon-space"></span>
            <span class="map-filters__filter-name">Espacio</span>
        </p>
        <ul class="map-filters__categories--{{content.section}}">
            <li class="map-filters__category category-space-{{key}}"
                ng-repeat="(key,name) in content.spaces"
                ng-click="content.toggleFilter('spaces', key)"
                ng-class="{'active': content.active_legend_items['spaces'][key]}">
                {{ name }}
            </li>
        </ul>
    </li>
    <li class="map-filters__filter--{{content.section}}" ng-if="content.section == 'events'">
        <p class="map-filters__label">
            <span class="icon-calendar"></span>
            <span class="map-filters__filter-name">Actividad</span>
        </p>
        <ul class="map-filters__categories--{{content.section}}">
            <li class="map-filters__category category-activity-{{key}}"
                ng-repeat="(key, name) in content.activities"
                ng-click="content.toggleFilter('activities', key)"
                ng-class="{'active': content.active_legend_items['activities'][key]}">
                {{ name }}
            </li>
        </ul>
    </li>
    <li class="map-filters__filter--{{content.section}}">
        <p class="map-filters__label">
            <span class="icon-agent"></span>
            <span class="map-filters__filter-name">Agente</span>
        </p>
        <ul class="map-filters__categories--{{content.section}}">
            <li class="map-filters__category category-agent-{{key}}"
                ng-repeat="(key,name) in content.agents"
                ng-click="content.toggleFilter('agents', key)"
                ng-class="{'active': content.active_legend_items['agents'][key]}">
                {{ name }}
            </li>
        </ul>
    </li>
</ul>
