<!-- Renders a block with user actions and the state of map filters -->

<div class="map-actions--{{content.section}}">
    <div class="legend-help"
         ng-init="show_legend=false">
        <span class="legend-help__icon icon-info"
              ng-click="content.show_help = !content.show_help; content.sharing_url=false">
        </span>
    </div>
    <div class="map-actions__actions">
        <a href="/#!/iniciativas" title="{{'Ver las iniciativas en formato mapa'|t}}"
           ng-if="content.section == 'initiatives' && content.format == 'list'">
           <span class="icon-map"></span>
        </a>
        <a href="/#!/iniciativas-lista" title="{{'Ver las iniciativas en formato lista'|t}}"
           ng-if="content.section == 'initiatives' && content.format == 'map'">
           <span class="icon-list"></span>
        </a>
        <a href="/#!/iniciativas-destacadas" title="{{'Ver las iniciativas destacadas'|t}}"
           ng-if="content.section == 'initiatives'">
           <span class="icon-star"></span>
        </a>
        <a href="/#!/eventos" title="{{'Ver los eventos en formato mapa'|t}}"
           ng-if="content.section == 'events' && content.format == 'list'">
           <span class="icon-map"></span>
        </a>
        <a href="/#!/eventos-lista" title="{{'Ver los eventos en formato lista'|t}}"
           ng-if="content.section == 'events' && content.format == 'map'">
           <span class="icon-list"></span>
        </a>
        <a href="/#!/eventos-destacados" title="{{'Ver los eventos destacados'|t}}"
           ng-if="content.section == 'events'">
           <span class="icon-star"></span>
        </a>
        <a ng-click="content.download_xls()" class="map-actions__action--download icon-download"
            title="{{'Descargar la vista en XLS'|t}}">
        </a>
        <span class="map-actions__action--share icon-share" ng-class="{ 'active' : content.sharing_url }"
              ng-click="content.shareUrl()" ng-if="content.format == 'map'">
        </span>
        <div class="share-url" ng-show="content.sharing_url">
            <span class="share-url__close" ng-click="content.sharing_url=false">×</span>
            <p class="share-url__text">
                {{ 'Puedes usar este enlace para compartir la vista actual del mapa' | t}}:
            </p>
            <input class="share-url__link" value="{{ content.shared_url }}" />
        </div>
        <div class="map-actions__help-tip arrow-up arrow-left"
             ng-click="content.show_help = false"
             ng-show="content.show_help && content.format == 'map'">
             <p>{{ 'En esta esquina tienes distintas acciones que puedes realizar sobre el contenido mostrado:' | t }}</p>
             <ul>
                 <li><span class="icon-list"></span> {{ 'Ver contenido en formato lista' | t }}</li>
                 <li><span class="icon-star"></span> {{ 'Ver contenido destacado' | t }}</li>
                 <li><span class="icon-download"></span> {{ 'Descargar vista actual en formato Excel' | t }}</li>
                 <li><span class="icon-share"></span> {{ 'Generar un enlace para compartir la vista actual' | t }}</li>
                 <li><span class="icon-layers"></span> {{ 'Cambiar la capa base del mapa' | t }}</li>
                 <li><span class="icon-expand"></span> {{ 'Volver a la vista inicial de todo el contenido' | t }}</li>
                 <li><span class="icon-locate"></span> {{ 'Localízate en el mapa' | t }}</li>
             </ul>
        </div>
        <div class="map-actions__help-tip arrow-up"
             ng-click="content.show_help = false" ng-show="content.show_help && content.format == 'list'">
             <p>{{ 'En esta esquina tienes distintas acciones que puedes realizar sobre el contenido mostrado:' | t }}</p>
             <ul>
                 <li><span class="icon-map"></span> {{ 'Ver contenido en formato mapa' | t }}</li>
                 <li><span class="icon-star"></span> {{ 'Ver contenido destacado' | t }}</li>
                 <li><span class="icon-download"></span> {{ 'Descargar vista actual en formato Excel' | t }}</li>
             </ul>
        </div>
    </div>
    <div class="markers-count">
        <span class="markers-count__label">{{'Mostrando'|t}} </span>
        <span class="markers-count__number">{{ content.count }}</span>
        <span ng-if="content.section=='initiatives'" class="markers-count__label">{{'iniciativas'|t}}</span>
        <span ng-if="content.section=='events'" class="markers-count__label">{{'eventos'|t}}</span>
    </div>
    <ul class="filter-tags">
        <li class="filter-tags__tag"
            ng-repeat="filter in content.selected_tabs"
            ng-click="content.removeFilter($index)">
            {{ filter.n }} <span class="filter-tags__close">×</span>
        </li>
        <li class="filter-tags__remove"
            ng-show="content.selected_tabs.length > 0"
            ng-click="content.removeFilters()">
            {{'Eliminar filtros'|t}}
        </li>
    </ul>
    <div search ng-show="content.section == 'initiatives'"></div>
    <div time-filter ng-show="content.section == 'events'"></div>
</div>
