<!-- Popup that displays marker info in leaflet maps -->

<div class="initiative-info initiative-info--{{content.section}}" ng-class="{ 'expanded' : info.expanded }">
    <!-- User actions -->
    <div class="initiative-actions">
        <a ng-if="info.showing=='initiatives'"
           class="initiative-action__edit" href="/edita/iniciativa/{{ info.marker.id }}">✏</a>
        <a ng-if="info.showing=='events'"
          class="initiative-action__edit" href="/edita/evento/{{ info.marker.id }}">✏</a>
        <i class="initiative-action__close" ng-click="info.closePopup()">×</i>
    </div>

    <!-- Profile header -->
    <div class="initiative-header">
        <a href="{{ info.marker.url }}" target="_blank" title="{{ 'Saber más sobre' | t }} {{ info.marker.nam }}">
            <figure class="initiative-image">
                <img ng-show="info.marker.img" ng-src="{{ info.marker.img }}" />
                <div ng-hide="info.marker.img" class="initiative-image--blank">
                    <span class="icon-agent"></span>
                </div>
            </figure>
        </a>
        <div class="leaflet-marker-icon cm">
            <i class='outer i-ods-{{ info.marker.ods.id }} i-to-{{ info.marker.topics }} i-ag-{{ info.marker.agents }}'></i>
            <i ng-if="content.section == 'initiatives'" class='inner i-sp-{{ info.marker.spaces }}'></i>
            <i ng-if="content.section == 'events'" class='inner i-ac-{{ info.marker.activities }}'></i>
        </div>
        <div class="initiative-header-text">
            <h2 class='initiative-info__name'>
                {{ info.marker.nam }}
            </h2>
            <p class="initiative-marker__categories">
                <span class="initiative-marker__topic">{{ info.marker.topicname | t }}</span> —
                <span class="initiative-marker__agent">{{ info.marker.agentname | t }}</span> —
                <span ng-if="content.section=='initiatives'" class="initiative-marker__space">{{ info.marker.spacename | t }}</span>
                <span ng-if="content.section=='events'" class="initiative-marker__activity">{{ info.marker.activitiesname | t }}</span>
            </p>
        </div>
    </div>

    <div class='initiative-info__event-details' ng-if="info.showing=='events'">
        <p class="initiative-info__detail--date">
            <span class="icon-event-date"></span> {{ info.marker.dat}} <span ng-if="info.marker.exp">{{ 'hasta' | t }} {{ info.marker.exp }}</span>
        </p>
        <p class="initiative-info__detail--periodicity" ng-if="info.marker.per">
            {{ 'Periodicidad' | t}}: {{ info.marker.per}}
        </p>
        <p class="initiative-info__detail--time">
            <span class="icon-event-time"></span> {{ info.marker.tim }}
        </p>
        <p class="initiative-info__detail--address">
            <span class="icon-event-address"></span> {{ info.marker.add }} ({{ info.marker.cities }})
        </p>
    </div>

    <!-- Profile description text -->
    <div class='initiative-marker__description'>
        {{ info.marker.des }}
        <p class="initiative-info__detail--link" ng-if="info.marker.ewe">
            <span class="icon-website"></span>
            <a href="{{ info.marker.ewe }}" target="_blank">
              {{ info.marker.ewe }}
            </a>
        </p>
        <!-- Initiative ODS -->
        <div class='initiative-info__ods' ng-if="info.marker.ods.id">
            <p class='initiative-info__ods-label'>
                {{ 'Objetivos de desarrollo sostenible de la iniciativa' | t }}
            </p>
            <div class='initiative-info__ods-icons'>
                <a href="https://sustainabledevelopment.un.org/sdg{{ info.marker.ods.id }}"
                   target="_blank" title="{{ info.marker.ods.label }}"
                >
                    <img src="/static/civics/img/ods/{{ info.marker.ods.id }}.png" />
                </a>
                <a ng-repeat="ods in info.marker.ods.other"
                    target="_blank" title="{{ ods.label }}"
                    href="https://sustainabledevelopment.un.org/sdg{{ ods.id }}">
                    <img src="/static/civics/img/ods/{{ ods.id }}.png" />
                </a>
            </div>
        </div>
        <!-- Initiative attached file -->
        <div class='initiative-info__file' ng-if="info.marker.file">
            <p class='initiative-info__file-label'>
                {{ 'Más información' | t }}
            </p>
            <a class='initiative-info__file-value' href="{{ info.marker.file }}" target="_blank">
                {{ info.filename(info.marker.file) }}
            </a>
        </div>
    </div>

    <!-- Profile description text -->
    <iframe class='initiative-info__video' ng-if="info.media_src" ng-src="{{ info.media_src }}"
            width="480" height="360"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen>
    </iframe>

    <!-- Profile details -->
    <div class='initiative-info__details'>
        <p class="initiative-info__detail--initiative" ng-if="info.showing=='events'">
            <span>{{ 'Promueve' | t }}</span>
            <a href="{{ info.marker.url }}" target="_blank" title="{{ 'Saber más sobre' | t }} {{ info.marker.ini }}">
                {{ info.marker.ini }}
            </a>
          </a>
        </p>
        <!-- Initiative details -->
        <p class="initiative-info__detail--address" ng-if="info.showing=='initiatives'">
            <span class="icon-event-address"></span>
            <a href="/{{ info.lang }}/#!/iniciativas?center={{ info.marker.lat }},{{ info.marker.lng }},16">
                {{ info.marker.add }} ({{ info.marker.cities }})
            </a>
        </p>
        <p class="initiative-info__detail--website" ng-show="info.marker.web">
            <span class="icon-website"></span>
            <a href="{{ info.marker.web }}" target="_blank">
                {{ info.marker.web }}
            </a>
        </p>
        <p class="initiative-info__detail--twitter" ng-show="info.marker.twi">
            <span class="icon-twitter"></span>
            <a href="https://twitter.com/{{ info.marker.twi }}" target="_blank">
                @{{ info.marker.twi }}
            </a>
        </p>
        <p class="initiative-info__detail--facebook" ng-show="info.marker.fac">
            <span class="icon-facebook"></span>
            <a href="{{ info.marker.fac }}" target="_blank">
                {{ info.marker.fac }}
            </a>
        </p>
        <p class="initiative-info__detail--facebook" ng-show="info.marker.ins">
            <span class="icon-instagram"></span>
            <a href="https://instagram.com/{{ info.marker.ins }}" target="_blank">
                @{{ info.marker.ins }}
            </a>
        </p>
        <p class="initiative-info__detail--email" ng-show="info.marker.ema">
            <span class="icon-email"></span> <a href="mailto:{{ info.marker.ema }}" target="_blank">{{ info.marker.ema }}</a>
        </p>
    </div>

    <!-- Profile details -->
    <div class='initiative-info__relations' ng-if="info.marker.rel.length > 0">
        <h6 class="initiative-info__relations-label">
              {{ 'Iniciativas relacionadas' | t }}
        </h6>
        <ul class="initiative-info__relations-items">
            <li class="initiative-info__relations-item" ng-repeat="i in info.marker.rel">
                <div class="leaflet-marker-icon cm">
                    <i class='outer i-ods-{{ i.ods }} i-to-{{ i.topics }} i-ag-{{ i.agents }}'></i>
                    <i class='inner i-sp-{{ i.spaces }}'></i>
                </div>
                <p class="initiative-info__relations-item-name" ng-click="info.openRelatedInfo(i.id)">
                    {{ i.nam }}
                </p>
            </li>
        </ul>
        <p class="initiative-info__relations-desc">
            {{ 'Las iniciativas relacionadas están conectadas por líneas discontinuas con la iniciativa seleccionada' | t }}
        </p>
    </div>
</div>
