<!-- Popup that displays marker info in leaflet maps -->

<div class="initiative-info initiative-info--{{content.section}}" ng-class="{ 'expanded' : info.expanded }">
    <!-- User actions -->
    <div class="initiative-actions">
        <a ng-if="info.showing=='initiatives'"
           class="initiative-action__edit" href="/edita/iniciativa/{{ info.marker.id }}">✏</a>
        <a ng-if="info.showing=='events'"
          class="initiative-action__edit" href="/edita/evento/{{ info.marker.id }}">✏</a>
        <i class="initiative-action__close" ng-click="info.expanded = false">×</i>
    </div>

    <!-- Profile header -->
    <div class="initiative-header">
        <div class="initiative-image">
            <img ng-show="info.marker.img" ng-src="{{ info.marker.img }}" />
            <div ng-hide="info.marker.img" class="initiative-image--blank">
                <span class="icon-agent"></span>
            </div>
        </div>
        <div class="leaflet-marker-icon cm">
            <i class='outer i-to-{{ info.marker.topics }} i-ag-{{ info.marker.agents }}'></i>
            <i ng-if="content.section == 'initiatives'" class='inner i-sp-{{ info.marker.spaces }}'></i>
            <i ng-if="content.section == 'events'" class='inner i-ac-{{ info.marker.activities }}'></i>
        </div>
        <div class="initiative-header-text">
            <h2 class='initiative-info__name'>
                {{ info.marker.nam }}
            </h2>
            <p class="initiative-marker__categories">
                <span class="initiative-marker__topic">{{ info.marker.topicname }}</span> —
                <span class="initiative-marker__agent">{{ info.marker.agentname }}</span> —
                <span ng-if="content.section=='initiatives'" class="initiative-marker__space">{{ info.marker.spacename }}</span>
                <span ng-if="content.section=='events'" class="initiative-marker__activity">{{ info.marker.activitiesname }}</span>
            </p>
        </div>
    </div>
    <!-- Event details -->
    <div class='initiative-info__event-details' ng-if="info.showing=='events'">
        <p class="initiative-info__detail--date">
            <span class="icon-event-date"></span> {{ info.marker.dat}}
        </p>
        <p class="initiative-info__detail--time">
            <span class="icon-event-time"></span> {{ info.marker.tim }}
        </p>
        <p class="initiative-info__detail--address">
            <span class="icon-event-address"></span> {{ info.marker.add }}
        </p>
    </div>

    <!-- Profile description text -->
    <div class='initiative-marker__description'>
        {{ info.marker.des }}
    </div>

    <!-- Profile description text -->
    <iframe class='initiative-info__video' ng-if="info.media_src" ng-src="{{ info.media_src }}"
            width="420" height="315"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen>
    </iframe>

    <!-- Profile details -->
    <div class='initiative-info__details'>
        <p class="initiative-info__detail--initiative" ng-if="info.showing=='events'">
            {{ info.marker.ini }}
        </p>
        <p class="initiative-info__detail--website" ng-show="info.marker.web">
            <span class="icon-website"></span> <a href="{{ info.marker.web }}" target="_blank">{{ info.marker.web }}</a>
        </p>
        <p class="initiative-info__detail--twitter" ng-show="info.marker.twi">
            <span class="icon-twitter"></span> <a href="https://twitter.com/{{ info.marker.twi }}" target="_blank">{{ info.marker.twi }}</a>
        </p>
        <p class="initiative-info__detail--facebook" ng-show="info.marker.fac">
            <span class="icon-facebook"></span> <a href="{{ info.marker.fac }}" target="_blank">{{ info.marker.fac }}</a>
        </p>
        <p class="initiative-info__detail--email" ng-show="info.marker.ema">
            <span class="icon-email"></span> <a href="mailto:{{ info.marker.ema }}" target="_blank">{{ info.marker.ema }}</a>
        </p>
    </div>
</div>
