@import compass/css3/transition
@import compass/css3/opacity
@import compass/css3/transform
@import compass/css3/animation
@import grid_system

// Classes

.container-fixed
  +container-fixed

.container-fluid
  +container-fluid

.clickable:hover
  cursor: pointer

.hidden
  display: none


// Link style mixins

=links_normal
  a
    +transition(color .1s ease)
    &:link, &:visited
      color: #555
      border-bottom: 1px dotted #555
    &:hover
      color: #777
    &:active
      color: #555

=links_toolbar
  a
    &:link, &:visited, &:hover, &:active
      color: $color_text
      border-bottom: 2px solid white
      +transition(border-color .15s ease)
    &:hover
      border-bottom: 2px solid #ccc

=links_filters
  a
    +transition(color .1s ease)
    &:link, &:visited
      color: white
    &:hover
      color: rgba(white, .75)
    &:active
      color: white

=links_dashboard
  a
    +transition(color .1s ease)
    &:link, &:visited
      color: white
    &:hover
      color: rgba(white, .75)
    &:active
      color: white

=links_success
  a
    +transition(background-color .1s ease)
    background-color: #f9afea
    color: $color_text
    &:hover
      background-color: darken(#f9afea, 10%)

=icon
  &:before
    font-family: $font_icons
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    position: relative
    /* Better Font Rendering ===========
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

// Modals

=modal_container
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 100

=css_modal_container
  +modal_container
  &:target
    display: block


// Animations

+keyframes(showup)
  0%
    +opacity(0)
    +transform( translate(0, 100px) )
  100%
    +opacity(1)
    +transform( translate(0, 0) )

+keyframes(hideup)
  0%
    +opacity(1)
  33%
    +opacity(1)
  100%
    +opacity(0)
