@import compass/css3/inline-block
@import compass/css3/border-radius
@import compass/css3/text-shadow
@import compass/css3/box-shadow

=icon
  &::before
    font-family: $font_icons
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    position: relative
    /* Better Font Rendering ===========
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

[class*='icon-'],
  +icon

=i($content)
  &::before
    content: $content


// Agentes
//

// Iniciativas municipales
.icon-agent-im
  +i("\e80b")
// Universidades
.icon-agent-uo
  +i("\e813")
// Organismos internacionales
.icon-agent-oi
  +i("\e80e")
// Empresas sociales
.icon-agent-es
  +i("\e812")
// Iniciativas ciudadanas
.icon-agent-ic
  +i("\e80a")
// Juntas y asociaciones de vecinos
.icon-agent-ja
  +i("\e815")
// Conquistas ciudadanas
.icon-agent-cc
  +i("\e80a")


// Temáticas
//

=t($col, $bg)
  color: $col
  + .inner
    background-color: $bg

.icon-topic-dc
  +t(#fdea14, #fefac4)
.icon-topic-au
  +t(#f8b835, #fdedcc)
.icon-topic-cl
  +t(#ec6851, #fad9d3)
.icon-topic-ds
  +t(#f3a498, #fce8e5)
.icon-topic-id
  +t(#e1517c, #f7d3de)
.icon-topic-ec
  +t(#932c49, #e4cad1)
.icon-topic-oe
  +t(#8e8e16, #e3e3c5)
.icon-topic-ee
  +t(#b7d69c, #edf5e6)
.icon-topic-ct
  +t(#2cae87, #edf5e6)
.icon-topic-ms
  +t(#40bfef, #cfeffb)
.icon-topic-pg
  +t(#0079ba, #bfddee)
.icon-topic-up
  +t(#587e74, #d5dfdc)
.icon-topic-pc
  +t(#f87dcc, #f7d3de)

// Espacios
//
.icon-space-cc
  +i('\e846')
.icon-space-em
  +i('\e847')
.icon-space-mc
  +i('\e848')
.icon-space-di
  +i('\e849')
.icon-space-ei
  +i('\e84a')
.icon-space-ea
  +i('\e84b')
.icon-space-ep
  +i('\e84c')
.icon-space-hu
  +i('\e84d')
.icon-space-it
  +i('\e84e')
.icon-space-iu
  +i('\e84f')
.icon-space-ms
  +i('\e850')
.icon-space-se
  +i('\e851')

// Actividades
//
.icon-activity-au
  +i('\e800')
.icon-activity-cu
  +i('\e801')
.icon-activity-di
  +i('\e802')
.icon-activity-en
  +i('\e803')
.icon-activity-ev
  +i('\e804')
.icon-activity-ex
  +i('\e805')
.icon-activity-fi
  +i('\e806')
.icon-activity-pu
  +i('\e807')
.icon-activity-ta
  +i('\e808')

// Auxiliares
//
.icon-download
  +i('\e811')
.icon-share
  +i('\e817')
.icon-twitter
  +i('\e81a')
.icon-facebook
  +i('\e818')
.icon-github
  +i('\e830')
.icon-mail
  +i('\e819')
.icon-expand
  +i('\e836')
.icon-login
  +i('\e832')
  font-size: 2.25em
.icon-logout
  +i('\e833')
  font-size: 2.25em
.icon-email
  +i('\e819')
.icon-website
  +i('\e82e')
.icon-address
  +i('\e81c')
.icon-email,
.icon-website,
.icon-address
  color: #999
  font-size: 20px
.icon-activity
  +i('\e822')
.icon-city
  +i('⦿')
.icon-topic
  +i('\e820')
.icon-space
  +i('\e81f')
.icon-agent
  +i('\e821')
.icon-add
  +i('\e825')
.icon-calendar
  +i('\e81d')
.icon-map
  +i('\e816')
.icon-info
  +i('ℹ')
.icon-list
  +i('\e814')
.icon-event-address
  +i('\e81c')
.icon-event-date
  +i('\e81d')
.icon-event-time
  +i('\e81e')
