{# Staff user dashboard #}
{% extends 'layouts/single-fluid-column.html' %}
{% load utils  i18n static imagekit leaflet_tags users %}
{% block body_classes %}dashboard{% endblock %}

{% block page_header %}
  {% leaflet_css %}
{% endblock %}

{% block main %}
    {% trans 'Mi perfil' as page_title %}
    {% include 'pages/title.html' with title=page_title %}
    <div class="dashboard-left">
        <div class="dashboard-left__left">
            <div class="initiatives--dashboard">
                <div class="initiatives--dashboard__title">
                    <h2>{% trans 'Mis iniciativas' %}</h2>
                     <span class="initiatives--dashboard__count">({{ initiatives|length }})</span>
                     <a class="initiatives--dashboard__create" title="{% trans 'Crea una iniciativa' %}"
                        href="{% url 'modelforms:create_initiative' %}">
                        <span class="icon-add"></span>
                     </a>
                </div>
                <div class="initiatives--dashboard__items">
                    {% for initiative in initiatives %}
                    <a href="{% url 'modelforms:edit_initiative' initiative.pk %}">
                        <div class="initiatives--dashboard__item">
                            <figure class="initiatives--dashboard__item-image">
                                {% if initiative.image %}
                                    {% thumbnail '100x100' initiative.image %}
                                {% else %}
                                    <span class="icon-agent"></span>
                                {% endif %}
                            </figure>
                            <div>
                                <h5 class="initiatives--dashboard__item-name">
                                    {{ initiative.name }}
                                </h5>
                                <div class="initiatives--dashboard__item-date">
                                    {% trans 'Fecha de alta:' %} {{ initiative.creation_date }}
                                </div>
                            </div>
                            <p class="initiatives--dashboard__edit">
                                {% trans 'Editar' %}
                            </p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="dashboard-left__right">
            <div class="events--dashboard">
                <div class="events--dashboard__title">
                    <h2>{% trans 'Mis actividades' %}</h2>
                    <span class="events--dashboard__count">(<span>{{ events|length }}</span>)</span>
                    <a class="events--dashboard__create" title="{% trans 'Crea un evento' %}"
                       href="{% url 'modelforms:create_event' %}">
                        <span class="icon-add"></span>
                    </a>
                </div>
                <div class="events--dashboard__items">
                    <div class="current-events">
                        {% if events|length == 0 %}
                            <div class="events--dashboard__items-empty">
                              {% blocktrans %}
                              Parece que todavía no has creado eventos asociados a tu iniciativa.<br/>
                              Puedes clicar en el icono <span class="icon-add"></span> para crear un
                              nuevo evento.
                              {% endblocktrans %}
                            </div>
                        {% else %}
                            {% for event in events %}
                            <a href="{% url 'modelforms:edit_event' event.pk %}">
                                <div class="events--dashboard__item">
                                    <figure class="events--dashboard__item-image">
                                        {% if event.image %}
                                              {% thumbnail '100x100' event.image %}
                                        {% else %}
                                            <span class="icon-agent"></span>
                                        {% endif %}
                                    </figure>
                                    <div>
                                        <p class="events--dashboard__item-initiative">
                                            {{ event.initiative.name }}
                                        </p>
                                        <h5 class="events--dashboard__item-name">
                                            {{ event.title }}
                                        </h5>
                                        <div class="events--dashboard__item-date">
                                          {% trans 'Fecha del evento:' %} {{ event.date }}
                                        </div>
                                    </div>
                                    <p class="events--dashboard__edit">
                                        {% trans 'Editar' %}
                                    </p>
                                </div>
                            </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="import-events">
                        <h5 class="import-events__title">
                            {% trans 'Importa eventos desde redes sociales' %}
                        </h5>
                        <ul class="import-events__actions">
                            <li class="import-events__action nofacebook">
                                {% trans 'Necesitas estar conectad@ a una cuenta de FB para importar eventos:' %}
                                <a href="#" onclick="fb_login()">{% trans 'Entrar en Facebook' %}</a>
                            </li>
                            <li class="import-events__action facebook-logged-in">
                                {% trans 'Conectado a Facebook.' %}</a>
                            </li>
                            <li class="import-events__action nogoogle">
                                {% trans 'Necesitas estar conectad@ a una cuenta de G+ para importar eventos:' %}
                                <a href="#" onclick="fb_login()">{% trans 'Entrar en Google+' %}</a>
                            </li>
                            <li class="import-events__action google-logged-in">
                                {% trans 'Conectado a Google' %}</a>
                            </li>
                        </ul>
                        <p class="import-events__help">
                            {% blocktrans %}
                            Para agilizar la importación al evento se le asignarán
                            la temática, tipo de agente y ciudad de la iniciativa promotora.
                            Revisa y completa los eventos tras importarlos.
                            {% endblocktrans %}
                        </p>
                        <ul class="import-events__list">
                        </ul>
                        <p class="import-events__empty facebook">
                            {% trans 'No hay eventos nuevos en tu cuenta de FB.' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-right">
        <div class="events-map--dashboard__title">
            <h2>{% trans 'Mapa de iniciativas' %}</h2>
        </div>
        {% leaflet_map "dashboard_map" %}
    </div>
{% endblock %}

{% block page_scripts %}
    <!-- Dependencies -->
    {% leaflet_js %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Populate map. See apps.users.templatetags -->
    {% dashboard_leaflet_js user_initiatives=initiatives %}
    <!-- Import events. See apps.users.templatetags -->
    {% events_import_js user_initiatives=initiatives %}
{% endblock %}
