{# Staff user dashboard #} {% extends 'layouts/single-fluid-column.html' %}
{% load utils l10n i18n static imagekit leaflet_tags %}
{% block body_classes %}dashboard-staff{% endblock %}
{% block page_header %}{% leaflet_css %}{% endblock %}

{% block main %}
    {% trans 'Mi perfil' as page_title %}
    {% include 'pages/title.html' with title=page_title %}
    <div class="dashboard-left">
        <div class="dashboard-left__left">
            <div class="initiatives--dashboard">
                <div class="initiatives--dashboard__title">
                    <h2>{% trans 'Mis iniciativas' %}</h2>
                     <span class="initiatives--dashboard__count">({{ initiatives|length }})</span>
                     <a class="initiatives--dashboard__create" title="{% trans 'Crea una iniciativa' %}"
                        href="{% url 'modelforms:create_initiative' %}">
                        <span class="icon-add"></span>
                     </a>
                </div>
                <div class="initiatives--dashboard__items">
                    {% for initiative in initiatives %}
                    <a href="{% url 'modelforms:edit_initiative' initiative.pk %}">
                        <div class="initiatives--dashboard__item">
                            <figure class="initiatives--dashboard__item-image">
                                {% if initiative.image %}
                                    {% thumbnail '100x100' initiative.image %}
                                {% else %}
                                    <span class="icon-agent"></span>
                                {% endif %}
                            </figure>
                            <div>
                                <h5 class="initiatives--dashboard__item-name">
                                    {{ initiative.name }}
                                </h5>
                                <div class="initiatives--dashboard__item-date">
                                    {% trans 'Fecha de alta:' %} {{ initiative.creation_date }}
                                </div>
                            </div>
                            <p class="initiatives--dashboard__edit">
                                {% trans 'Editar' %}
                            </p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="dashboard-left__right">
            <div class="events--dashboard">
                <div class="events--dashboard__title">
                    <h2>{% trans 'Mis actividades' %}</h2>
                    <span class="events--dashboard__count">({{ events|length }})</span>
                    <a class="events--dashboard__create" title="{% trans 'Crea un evento' %}"
                       href="{% url 'modelforms:create_event' %}">
                        <span class="icon-add"></span>
                    </a>
                </div>
                <div class="events--dashboard__items">
                    {% if events|length == 0 %}
                        <div class="events--dashboard__items-empty">
                          {% blocktrans %}
                          Parece que todavía no has creado eventos asociados a tu iniciativa.<br/>
                          Puedes clicar en el icono <span class="icon-add"></span> para crear un
                          nuevo evento.
                          {% endblocktrans %}
                        </div>
                    {% else %}
                        {% for event in events %}
                        <a href="{% url 'modelforms:edit_event' event.pk %}">
                            <div class="events--dashboard__item">
                                <figure class="events--dashboard__item-image">
                                    {% if event.image %}
                                          {% thumbnail '100x100' event.image %}
                                    {% else %}
                                        <span class="icon-agent"></span>
                                    {% endif %}
                                </figure>
                                <div>
                                    <h5 class="events--dashboard__item-name">
                                        {{ event.title }}
                                    </h5>
                                    <div class="events--dashboard__item-date">
                                      {% trans 'Fecha del evento:' %} {{ event.date }}
                                    </div>
                                </div>
                                <p class="events--dashboard__edit">
                                    {% trans 'Editar' %}
                                </p>
                            </div>
                        </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-right">
        <div class="events-map--dashboard__title">
            <h2>{% trans 'Mapa de iniciativas' %}</h2>
        </div>
        {% leaflet_map "dashboard_map" %}
    </div>
{% endblock %}

{% block page_scripts %}
    {% leaflet_js %}
    <script type="text/javascript">
        window.addEventListener("map:init", function (event)
        {
            var map = event.detail.map;
            //Center map in initiative
            map.setView([0, -26], 3);
            {% for initiative in initiatives %}
                var popup = "<h5>{{ initiative.name }}</h5>" +
                            "<p><a href={% url 'modelforms:edit_initiative' initiative.pk %}>Editar</a></p>";
                L.marker([ {{ initiative.position.coordinates.1 | unlocalize }}, {{  initiative.position.coordinates.0 | unlocalize }} ], {
                    icon : L.divIcon({
                        'type' : 'div',
                        'iconSize'    : [40, 60],
                        'iconAnchor'  : [20, 60],
                        'popupAnchor' : [0, -30],
                        'className'   : 'cm',
                        'html'        : "<div class='initiative-marker'>" +
                                            "<i class='outer i-to-{{ initiative.topic|lower}} i-ag-{{ initiative.agent|lower }}'></i>" +
                                            "<i class='inner i-sp-{{ initiative.space|lower }}'></i>" +
                                         "</div>",
                    }),
                }).bindPopup(popup).addTo(map);
            {% endfor %}
        });
    </script>
{% endblock %}
