{# Modelform generic page #} {% extends 'layouts/single-fluid-column.html' %} {% load utils l10n i18n static leaflet_tags %}
{% block body_classes %}dashboard{% endblock %}

{% block page_header %}
    {% leaflet_css %}
{% endblock %}

{% block main %}
    {% include 'pages/title.html' with title="Mi iniciativa" %}
    <div class="dashboard-left">
        <div class="dashboard-left__left">
            <div class="initiative">
                <div class="initiative__field initiative__field--name">
                    <h2>{{ initiative.name }}</h2>
                    <a class="initiative__edit" href="{% url 'modelforms:edit_initiative' initiative.pk %}">
                        <span>✏</span>
                    </a>
                </div>
                <figure class="initiative__field initiative__field--image">
                    <img src="{% get_media_prefix %}{{ initiative.image }}" />
                </figure>
                <div class="initiative__field initiative__field--description">
                    <p class="initiative__field-label">{% trans 'Descripción' %}<p>
                    {{ initiative.description }}
                </div>
                {% if initiative.email %}
                <div class="initiative__field initiative__field--email">
                    <p class="initiative__field-label">{% trans 'Email' %}</p>
                    {{ initiative.email }}
                </div>
                {% endif %}
                {% if initiative.facebook %}
                <div class="initiative__field initiative__field--facebook">
                    <p class="initiative__field-label">{% trans 'Facebook' %}</p>
                    {{ initiative.facebook }}
                </div>
                {% endif %}
                {% if initiative.twitter %}
                <div class="initiative__field initiative__field--twitter">
                    <p class="initiative__field-label">{% trans 'Twitter' %}</p>
                    {{ initiative.twitter }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="dashboard-left__right">
            <div class="events">
                <div class="events__field events__field--name">
                    <h2>{% trans 'Mis actividades' %}</h2>
                    <a class="events__create" href="{% url 'modelforms:create_event' %}">
                        <span class="icon-add"></span>
                    </a>
                </div>
                {% if events|length == 0 %}
                    <div class="events__field events__field--empty">
                      {% blocktrans %}
                      Parece que todavía no has creado eventos asociados a tu iniciativa.<br/>
                      Puedes clicar en el icono <span class="icon-add"></span> para crear un
                      nuevo evento.
                      {% endblocktrans %}
                    </div>
                {% else %}
                    {% for event in events %}
                        <div class="event">
                            {% if event.image %}
                            <figure class="event__field event__field--image">
                                <img src="{{ event.thumbnail.url }}" />
                            </figure>
                            {% endif %}
                            <div class="event__field event__field--edit">
                              <a href="{% url 'modelforms:edit_event' event.pk %}">✏</a>
                            </div>
                            <div class="event__field event__field--date">
                              {{ event.date }}
                            </div>
                            <div class="event__field event__field--title">
                                {{ event.title }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="facebook-events">
                    <h5 class="facebook-events__title">
                        {% trans 'Importa eventos desde Facebook' %}
                    </h5>
                    <p class="facebook-events__help">
                        {% blocktrans %}
                        No estás conectado a Facebook. Si quieres importar eventos desde
                        tu agenda de FB has de <a href="#" onclick="fb_login()">hacer login</a>
                        {% endblocktrans %}
                    </p>
                    <ul class="facebook-events__list">
                    </ul>
                    <p class="facebook-events__empty">
                        {% trans 'No hay eventos a publicar' %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-right">
        {% leaflet_map "dashboard_map" %}
    </div>
{% endblock %}

{% block page_scripts %}
    {% leaflet_js %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src=" {% js 'facebook.js' %}"></script>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '322456914577117',
                cookie     : true,  // enable cookies to allow the server to access the session
                xfbml      : true,  // parse social plugins on this page
                version    : 'v2.8' // use graph api version 2.8
            });
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response, {{initiative.id}});
            });
        };
    </script>
    <script type="text/javascript">
        window.addEventListener("map:init", function (event)
        {
            var map = event.detail.map;
            var lat = {{ initiative.position.coordinates.1 | unlocalize }};
            var lng = {{ initiative.position.coordinates.0 | unlocalize }};
            //Center map in initiative
            map.setView([lat, lng], 6);
            L.marker([lat, lng], {
                icon : L.divIcon({
                    'type' : 'div',
                    'iconSize'    : [40, 60],
                    'iconAnchor'  : [20, 60],
                    'popupAnchor' : [0, -30],
                    'message'     : "{{ initiative.name }}",
                    'html'        : "<div class='initiative-marker'>" +
                                        "<i class='outer icon-topic-{{ initiative.topic|lower}} icon-agent-{{ initiative.agent|lower }}'></i>" +
                                        "<i class='inner icon-space-{{ initiative.space|lower }}'></i>" +
                                     "</div>",
                }),
            }).addTo(map);
        });
    </script>
{% endblock %}
