<ul class="map-filters">
    <li class="map-filters__filter map-filters__filter--calendar map-filters__filter--topics">
        <p class="map-filters__filter-label"
           ng-init="showing_topics = false" ng-click="showing_topics = !showing_topics">
           <span class="icon-topic"></span> Temática
        </p>
        <ul class="map-filters__categories map-filters__categories--calendar" ng-show="showing_topics">
            <li class="map-filters__category map-filters__category--calendar category-topic-{{category_key}}"
                ng-repeat="(category_key, category_name) in calendar.topics"
                ng-click="calendar.toggle('topics', category_key)"
                ng-class="{ 'inactive' : !calendar.active['topics'][category_key] }">
                {{ category_name }}
            </li>
        </ul>
    </li>
    <li class="map-filters__filter map-filters__filter--calendar map-filters__filter--spaces">
        <p class="map-filters__filter-label"
           ng-init="showing_activities = false" ng-click="showing_activities = !showing_activities">
            <span class="icon-calendar"></span> Actividad
        </p>
        <ul class="map-filters__categories map-filters__categories--calendar" ng-show="showing_activities">
            <li class="map-filters__category map-filters__category--calendar category-activity-{{category_key}}"
                ng-repeat="(category_key, category_name) in calendar.activities"
                ng-click="calendar.toggle('spaces', category_key)"
                ng-class="{ 'inactive' : !calendar.active['activities'][category_key] }">
                {{ category_name }}
            </li>
        </ul>
    </li>
    <li class="map-filters__filter map-filters__filter--calendar map-filters__filter--agents">
        <p  class="map-filters__filter-label"
            ng-init="showing_agents = false" ng-click="showing_agents = !showing_agents">
            <span class="icon-agent"></span> Agente
        </p>
        <ul class="map-filters__categories map-filters__categories--calendar" ng-show="showing_agents">
            <li class="map-filters__category map-filters__category--calendar category-agent-{{category_key}}"
                ng-repeat="(category_key, category_name) in calendar.agents"
                ng-click="calendar.toggle('agents', category_key)"
                ng-class="{ 'inactive' : !calendar.active['agents'][category_key] }">
                {{ category_name }}
            </li>
        </ul>
    </li>
    <li class="map-filters__filter map-filters__filter--calendar">
        <a href="/crea/evento"><span class="icon-add"></span> Añadir</a>
    </li>
</ul>
<div class="calendar-actions">
    <div class="map-actions__count">
        <span class="map-actions__count-label">Mostrando </span>
        <span class="map-actions__count-number">{{ calendar.events_count }}</span>
        <span class="map-actions__count-label"> eventos</span>
    </div>
    <div class="calendar-actions__actions">
        <!-- <div class="calendar-actions__action calendar-actions__action--share">
            <span class="icon-share"></span>
            <span class="icon-facebook"></span>
            <span class="icon-twitter"></span>
        </div> -->
        <a href="{{ calendar.download_link }}"><span class="calendar-actions__action--download icon-download"></span></a>
    </div>
</div>

<leaflet id="events-map" ng-class="{ 'collapsed' : calendar.showing_event }" height="480px" width="100%"
          center="calendar.center" controls="calendar.controls" defaults="calendar.defaults" layers="calendar.layers" markers="calendar.markers" >
</leaflet>
