<ul class="map-filters">
  <li class="map-filters__filter map-filters__filter--cities">
      <p class="map-filters__filter-label"
         ng-init="showing_cities = false" ng-click="showing_cities = !showing_cities">
         <span class="icon-topic"></span> Ciudad
      </p>
      <ul class="map-filters__categories" ng-show="showing_cities">
          <div ng-repeat="(country, cities) in calendar.cities">
              <p class="category-country">{{ country }}</p>
              <div class="cities-wrapper">
                  <li class="map-filters__category category-city"
                      ng-click="calendar.toggleFilter('city', city, true)"
                      ng-repeat="city in cities"
                      ng-class="{ 'active' : calendar.active_categories['city'][city] }">
                      {{ city }} <span class="map-filters__checkmark"></span>
                  </li>
              </div>
          </div>
      </ul>
  </li>
  <li class="map-filters__filter map-filters__filter--topics">
      <p class="map-filters__filter-label"
         ng-init="showing_topics = false" ng-click="showing_topics = !showing_topics">
         <span class="icon-topic"></span> Temática
      </p>
      <ul class="map-filters__categories" ng-show="showing_topics">
          <li class="map-filters__category category-topic-{{category_key}}"
              ng-repeat="(category_key, category_name) in calendar.topics"
              ng-click="calendar.toggleFilter('topic', category_key)"
              ng-class="{ 'active' : calendar.active_categories['topic'][category_key] }">
              {{ category_name }} <span class="map-filters__checkmark"></span>
          </li>
      </ul>
  </li>
  <li class="map-filters__filter map-filters__filter--activities">
      <p  class="map-filters__filter-label"
          ng-init="showing_activities = false" ng-click="showing_activities = !showing_activities">
          <span class="icon-activity"></span> Actividad
      </p>
      <ul class="map-filters__categories" ng-show="showing_activities">
          <li class="map-filters__category category-activity-{{category_key}}"
              ng-repeat="(category_key, category_name) in calendar.activities"
              ng-click="calendar.toggleFilter('activity', category_key)"
              ng-class="{ 'active' : calendar.active_categories['activity'][category_key] }">
              {{ category_name }} <span class="map-filters__checkmark"></span>
          </li>
      </ul>
  </li>
  <li class="map-filters__filter map-filters__filter--agents">
      <p class="map-filters__filter-label"
          ng-init="showing_agents = false" ng-click="showing_agents = !showing_agents">
          <span class="icon-agent"></span> Agente
      </p>
      <ul class="map-filters__categories" ng-show="showing_agents">
          <li class="map-filters__category category-agent-{{category_key}}"
              ng-repeat="(category_key, category_name) in calendar.agents"
              ng-click="calendar.toggleFilter('agent', category_key)"
              ng-class="{ 'active' : calendar.active_categories['agent'][category_key] }">
              {{ category_name }} <span class="map-filters__checkmark"></span>
          </li>
      </ul>
  </li>
</ul>
<div class="map-actions">
    <div class="markers-count">
        <span class="markers-count__label">Mostrando </span>
        <span class="markers-count__number">{{ calendar.initiatives_count }}</span>
        <span class="markers-count__label"> iniciativas</span>
    </div>
    <ul class="filter-tags">
        <li class="filter-tags__tag"
            ng-repeat="filter in calendar.active_filters"
            ng-click="calendar.removeFilter($index)">
            {{ filter.n }} <span class="filter-tags__close">×</span>
        </li>
        <li class="filter-tags__remove"
            ng-show="calendar.active_filters.length > 0"
            ng-click="calendar.removeFilters()">
            Eliminar filtros
        </li>
    </ul>
    <div class="map-actions__actions">
        <!-- <div class="map-actions__action map-actions__action--share">
            <span class="icon-share"></span>
            <span class="icon-facebook"></span>
            <span class="icon-twitter"></span>
        </div> -->
        <span ng-click="calendar.showing_map=true" class="map-actions__action--map icon-map"></span>
        <span ng-click="calendar.showing_map=false" class="map-actions__action--grid icon-list"></span>
        <span ng-click="calendar.download_xls()" class="map-actions__action--download icon-download"></span>
    </div>
</div>

<div class="initiative-info" ng-class="{ 'expanded' : calendar.showing_initiative }">
    <a class="initiative-info__edit" href="/edita/evento/{{ calendar.initiative.id }}">✏</a>
    <a class="initiative-info__remove" href="/borra/evento/{{ calendar.initiative.id }}">⤫</a>
    <i class="initiative-info__close" ng-click="calendar.closeInitiativeInfo()">×</i>
    <h2 class='initiative-info__name'>
        {{ calendar.initiative.title }}
    </h2>
    <div class="initiative-header">
        <img ng-show="calendar.initiative.img" src="{{ calendar.initiative.img }}" />
        <div ng-hide="calendar.initiative.img" class="initiative_blank-image">
            <span class="icon-agent"></span>
        </div>
        <div class='initiative-marker'>
            <i class='outer icon-topic-{{ calendar.initiative.topic }} icon-agent-{{ calendar.initiative.agent }}'></i>
            <i class='inner icon-activity-{{ calendar.initiative.activity }}'></i>
            <p class="initiative-marker__topic">{{ calendar.initiative_topicname }}</p>
            <p class="initiative-marker__space">{{ calendar.initiative_activityname }}</p>
            <p class="initiative-marker__agent">{{ calendar.initiative_agentname }}</p>
        </div>
    </div>
    <div class='initiative-info__event-details'>
        <p class="initiative-info__detail initiative-info__detail--date">
            <span class="icon-event-date"></span> {{ calendar.initiative.date}}
        </p>
        <p class="initiative-info__detail initiative-info__detail--time">
            <span class="icon-event-time"></span> {{ calendar.initiative.time }}
        </p>
        <p class="initiative-info__detail initiative-info__detail--address">
            <span class="icon-event-address"></span> {{ calendar.initiative.address }}
        </p>
    </div>
    <p class='initiative-info__description'>
        {{ calendar.initiative.description }}
    </p>
    <div class='initiative-info__details'>
        <p class="initiative-info__detail initiative-info__detail--website">
            Promueve: {{ calendar.initiative.initiative }}
        </p>
        <p class="initiative-info__detail initiative-info__detail--website" ng-show="calendar.initiative.init_website">
            <span class="icon-website"></span> <a href="{{ map.initiative_website }}" target="_blank">{{ calendar.initiative.init_website }}</a>
        </p>
        <p class="initiative-info__detail initiative-info__detail--email" ng-show="calendar.initiative.init_email">
            <span class="icon-email"></span> <a href="mailto:{{ map.initiative.email }}" target="_blank">{{ calendar.initiative.init_email }}</a>
        </p>
        <p class="initiative-info__detail initiative-info__detail--address" ng-show="calendar.initiative.init_address">
            <span class="icon-address"></span> {{ calendar.initiative.init_address }}, {{ calendar.initiative.city }} 
        </p>
    </div>
</div>

<leaflet id="events-map" ng-class="{ 'collapsed' : calendar.showing_event }" height="480px" width="100%"
          center="calendar.center" controls="calendar.controls" defaults="calendar.defaults" layers="calendar.layers" markers="calendar.markers" >
</leaflet>

<div class="initiatives-grid" ng-if="!calendar.showing_map" ng-class="{ 'collapsed' : calendar.showing_initiative }">
    <div class="initiatives-grid__item" ng-repeat="marker in calendar.markers" ng-hide="marker.layer=='hidden'" ng-click="calendar.showInitiativeInfo(marker)">
        <img ng-show="marker.img" src="{{ marker.img }}" />
        <div ng-hide="marker.img" class="initiative_blank-image">
            <span class="icon-agent"></span>
        </div>
        <div class="initiative-caption">
          <p class="initiative-name">{{ marker.title }}</p>
          <p class="initiative-city">{{ marker.city }} / {{ marker.country }}</p>
        </div>
    </div>
</div>
