<!-- Map filters -->
<div map-filters></div>

<!-- Profile of selected marker -->
<div marker-info></div>

<!-- Map viewport container including map and user actions over it -->
<div class="map-container">
    <!-- Map actions -->
    <div map-actions></div>
    <!-- Leaflet map -->
    <!-- Grid display of elements -->
    <div class="grid">
        <div class="initiatives-grid__pager" ng-hide="content.markers.length == 0">
            <p class="initiatives-grid__pager-info">
                {{'Mostrando'|t}} {{ content.starting_index }}‒{{ content.starting_index + content.current_items }}
                {{'de'|t}} {{ content.count }} {{'elementos filtrados'|t}}
            </p>
            <p class="initiatives-grid__pager-links">
                <span class="initiatives-grid__pager-link"
                      ng-hide="content.starting_index == 0"
                      ng-click="content.previousPage()">
                    {{'Ver página anterior'|t}}
                </span>
                <span class="initiatives-grid__pager-link"
                      ng-hide="content.current_items < content.items_per_page"
                      ng-click="content.nextPage()">
                    {{'Ver página siguiente'|t}}
                </span>
            </p>
        </div>
        <div class="grid__no-results" ng-if="content.markers.length == 0">
            {{'Parece que todavía no se han generado contenidos de este tipo'|t}}.
        </div>
        <div class="grid__item"
             ng-repeat="marker in content.markers | filter: { filtered : false } | limitTo:content.current_items:content.starting_index"
             ng-click="content.show(marker)">
            <img ng-show="marker.img" ng-src="{{ marker.img }}" />
            <img ng-hide="marker.img" src="/static/civics/img/blank.png" />
            <div dates date='{{marker.date|date:"yyyy-MM-dd"}}' expiration='{{marker.expiration|date:"yyyy-MM-dd"}}'
                 ng-if="content.section == 'events'">
            </div>
            <div class="grid__item-caption">
              <p class="grid__item-name" ng-if="content.section=='initiatives'">{{ marker.name }}</p>
              <p class="grid__item-name" ng-if="content.section=='events'">{{ marker.title }}</p>
              <p class="grid__item-city">{{ content.cityname(marker.cities) }}</p>
            </div>
        </div>
        <div class="initiatives-grid__pager bottom" ng-hide="content.markers.length == 0">
            <p class="initiatives-grid__pager-links">
                <span class="initiatives-grid__pager-link"
                      ng-hide="content.starting_index == 0"
                      ng-click="content.previousPage()">
                    {{'Ver página anterior'|t}}
                </span>
                <span class="initiatives-grid__pager-link"
                      ng-hide="content.current_items < content.items_per_page"
                      ng-click="content.nextPage()">
                    {{'Ver página siguiente'|t}}
                </span>
            </p>
        </div>
    </div>
</div>

<!-- Social widgets block -->
<div social></div>
