<!-- Map filters -->
<div map-filters></div>

<!-- Profile of selected marker -->
<div marker-info></div>

<!-- Map viewport container including map and user actions over it -->
<div class="map-container">
    <!-- Map actions -->
    <div map-actions></div>
    <!-- Leaflet map -->
    <!-- Grid display of elements -->
    <div class="grid">
        <div class="initiatives-grid__pager" ng-hide="content.markers.length == 0">
            <p class="initiatives-grid__pager-info">
                Mostrando {{ content.starting_index }}‒{{ content.starting_index + content.current_items }}
                de {{ content.count }} elementos filtrados.
            </p>
            <p class="initiatives-grid__pager-links">
                <span class="initiatives-grid__pager-link"
                      ng-hide="content.starting_index == 0"
                      ng-click="content.previousPage()">
                    Ver página anterior
                </span>
                <span class="initiatives-grid__pager-link"
                      ng-hide="content.current_items < content.items_per_page"
                      ng-click="content.nextPage()">
                    Ver página siguiente
                </span>
            </p>
        </div>
        <div class="grid__no-results" ng-if="content.markers.length == 0">
            Parece que todavía no se han generado contenidos de este tipo.
        </div>
        <div class="grid__item"
             ng-repeat="marker in content.markers | filter: { filtered : false } | limitTo:content.current_items:content.starting_index"
             ng-click="content.show(marker)">
            <img ng-show="marker.img" ng-src="{{ marker.img }}" />
            <img ng-hide="marker.img" src="/static/civics/img/blank.png" />
            <div class="grid__item-date" ng-if="content.section == 'events'">
                <p class="grid__item-date-day">
                    {{ marker.day }}
                </p>
                <p class="grid__item-date-month">
                    {{ marker.month }}
                </p>
            </div>
            <div class="grid__item-caption">
              <p class="grid__item-name">{{ marker.nam }}</p>
              <p class="grid__item-city">{{ marker.cit }}</p>
            </div>
        </div>
        <div class="initiatives-grid__pager bottom" ng-hide="content.markers.length == 0">
            <p class="initiatives-grid__pager-info">
                Mostrando {{ content.starting_index }}‒{{ content.starting_index + content.current_items }}
                de {{ content.count }} elementos filtrados.
            </p>
            <p class="initiatives-grid__pager-links">
                <span class="initiatives-grid__pager-link"
                      ng-hide="content.starting_index == 0"
                      ng-click="content.previousPage()">
                    Ver página anterior
                </span>
                <span class="initiatives-grid__pager-link"
                      ng-hide="content.current_items < content.items_per_page"
                      ng-click="content.nextPage()">
                    Ver página siguiente
                </span>
            </p>
        </div>
    </div>
</div>

<!-- Social widgets block -->
<div social></div>
