<!-- Map filters -->
<div map-filters></div>

<!-- Profile of selected marker -->
<div marker-info></div>

<!-- Map viewport container including map and user actions over it -->
<div class="map-container">
    <!-- Map actions -->
    <div map-actions></div>
    <!-- Leaflet map -->
    <leaflet ng-if="map.showing_map" id="civics-map" ng-class="{ 'collapsed' : map.showing_initiative }" height="480px" width="100%"
              lf-center="map.center" defaults="map.defaults" controls="map.controls" layers="map.layers">
              <div leaflet-expand></div>
    </leaflet>
</div>

<!-- Social widgets block -->
<div social></div>

<!-- Grid display of elements -->
<div class="initiatives-grid" ng-if="!map.showing_map" ng-class="{ 'collapsed' : map.showing_initiative }">
    <div class="initiatives-grid__item" ng-repeat="marker in map.markers" ng-hide="marker.layer=='hidden'" ng-click="map.showInitiativeInfo(marker)">
        <img ng-show="marker.img" src="{{ marker.img }}" />
        <div ng-hide="marker.img" class="initiative_blank-image">
            <span class="icon-agent"></span>
        </div>
        <div class="initiative-caption">
          <p class="initiative-name">{{ marker.name }}</p>
          <p class="initiative-city">{{ marker.city }} / {{ marker.country }}</p>
        </div>
    </div>
</div>
