<!-- Map filters -->
<div map-filters></div>

<!-- Profile of selected marker -->
<div marker-info></div>

<!-- Map viewport container including map and user actions over it -->
<div class="map-container" ng-class="{ 'show-city-labels' : content.center.zoom < 10 }">
    <!-- Map actions -->
    <div map-actions></div>
    <!-- Leaflet map -->
    <leaflet id="civics-map"
              ng-if="content.showing_map" height="480px" width="100%"
              class="zoom_" ng-class="{ 'collapsed' : content.showing_initiative }"
              lf-center="content.center" defaults="content.defaults"
              controls="content.controls" layers="content.layers">
          <div leaflet-expand></div>
    </leaflet>
</div>

<!-- Social widgets block -->
<div social></div>
