<ul class="map-filters">
    <li class="map-filters__filter map-filters__filter--cities">
        <p class="map-filters__filter-label"
           ng-init="showing_cities = false" ng-click="showing_cities = !showing_cities">
           <span class="icon-topic"></span> Ciudad
        </p>
        <ul class="map-filters__categories" ng-show="showing_cities">
            <div ng-repeat="(country, cities) in map.cities">
                <p class="category-country">{{ country }}</p>
                <div class="cities-wrapper">
                    <li class="map-filters__category category-city"
                        ng-click="map.toggleFilter('city', city, true)"
                        ng-repeat="city in cities"
                        ng-class="{ 'active' : map.active_categories['city'][city] }">
                        {{ city }} <span class="map-filters__checkmark"></span>
                    </li>
                </div>
            </div>
        </ul>
    </li>
    <li class="map-filters__filter map-filters__filter--topics">
        <p class="map-filters__filter-label"
           ng-init="showing_topics = false" ng-click="showing_topics = !showing_topics">
           <span class="icon-topic"></span> Temática
        </p>
        <ul class="map-filters__categories" ng-show="showing_topics">
            <li class="map-filters__category category-topic-{{category_key}}"
                ng-repeat="(category_key, category_name) in map.topics"
                ng-click="map.toggleFilter('topic', category_key)"
                ng-class="{ 'active' : map.active_categories['topic'][category_key] }">
                {{ category_name }} <span class="map-filters__checkmark"></span>
            </li>
        </ul>
    </li>
    <li class="map-filters__filter map-filters__filter--spaces">
        <p class="map-filters__filter-label"
           ng-init="showing_spaces = false" ng-click="showing_spaces = !showing_spaces">
            <span class="icon-space"></span> Espacio
        </p>
        <ul class="map-filters__categories" ng-show="showing_spaces">
            <li class="map-filters__category category-space-{{category_key}}"
                ng-repeat="(category_key, category_name) in map.spaces"
                ng-click="map.toggleFilter('space', category_key)"
                ng-class="{ 'active' : map.active_categories['space'][category_key] }">
                {{ category_name }} <span class="map-filters__checkmark"></span>
            </li>
        </ul>
    </li>
    <li class="map-filters__filter map-filters__filter--agents">
        <p  class="map-filters__filter-label"
            ng-init="showing_agents = false" ng-click="showing_agents = !showing_agents">
            <span class="icon-agent"></span> Agente
        </p>
        <ul class="map-filters__categories" ng-show="showing_agents">
            <li class="map-filters__category category-agent-{{category_key}}"
                ng-repeat="(category_key, category_name) in map.agents"
                ng-click="map.toggleFilter('agent', category_key)"
                ng-class="{ 'active' : map.active_categories['agent'][category_key] }">
                {{ category_name }} <span class="map-filters__checkmark"></span>
            </li>
        </ul>
    </li>
</ul>

<div class="map-actions">
    <div class="markers-count">
        <span class="markers-count__label">Mostrando </span>
        <span class="markers-count__number">{{ map.initiatives_count }}</span>
        <span class="markers-count__label"> iniciativas</span>
    </div>
    <ul class="filter-tags">
        <li class="filter-tags__tag"
            ng-repeat="filter in map.active_filters"
            ng-click="map.removeFilter($index)">
            {{ filter.n }} <span class="filter-tags__close">×</span>
        </li>
        <li class="filter-tags__remove"
            ng-show="map.active_filters.length > 0"
            ng-click="map.removeFilters()">
            Eliminar filtros
        </li>
    </ul>
    <div class="map-actions__actions">
        <!-- <div class="map-actions__action map-actions__action--share">
            <span class="icon-share"></span>
            <span class="icon-facebook"></span>
            <span class="icon-twitter"></span>
        </div> -->
        <span ng-click="map.showing_map=true" class="map-actions__action--map icon-map"></span>
        <span ng-click="map.showing_map=false" class="map-actions__action--grid icon-list"></span>
        <span ng-click="map.download_xls()" class="map-actions__action--download icon-download"></span>
    </div>
</div>

<div class="initiative-info" ng-class="{ 'expanded' : map.showing_initiative }">
    <a class="initiative-info__edit" href="/edita/iniciativa/{{ map.initiative.id }}">✏</a>
    <a class="initiative-info__remove" href="/borra/iniciativa/{{ map.initiative.id }}">⤫</a>
    <i class="initiative-info__close" ng-click="map.closeInitiativeInfo()">×</i>
    <h2 class='initiative-info__name'>
        {{ map.initiative.name }}
    </h2>
    <div class="initiative-header">
        <div class="initiative-image">
            <img ng-show="map.initiative.img" src="{{ map.initiative.img }}" />
            <div ng-hide="map.initiative.img" class="initiative-image--blank">
                <span class="icon-agent"></span>
            </div>
        </div>
        <div class='initiative-marker'>
            <i class='outer icon-topic-{{ map.initiative.topic }} icon-agent-{{ map.initiative.agent }}'></i>
            <i class='inner icon-space-{{ map.initiative.space }}'></i>
            <p class="initiative-marker__topic">{{ map.initiative_topicname }}</p>
            <p class="initiative-marker__space">{{ map.initiative_spacename }}</p>
            <p class="initiative-marker__agent">{{ map.initiative_agentname }}</p>
        </div>
    </div>
    <p class='initiative-info__description'>
        {{ map.initiative.description }}
    </p>
    <div class='initiative-info__details'>
        <p class="initiative-info__detail initiative-info__detail--website" ng-show="map.initiative.website">
            <span class="icon-website"></span> <a href="{{ map.initiative_website }}" target="_blank">{{ map.initiative.website }}</a>
        </p>
        <p class="initiative-info__detail initiative-info__detail--email" ng-show="map.initiative.email">
            <span class="icon-email"></span> <a href="mailto:{{ map.initiative.email }}" target="_blank">{{ map.initiative.email }}</a>
        </p>
        <p class="initiative-info__detail initiative-info__detail--address" ng-show="map.initiative.address">
            <span class="icon-address"></span> {{ map.initiative.address }} ({{ map.initiative.city }}, {{ map.initiative.country }})
        </p>
    </div>
</div>


<leaflet ng-if="map.showing_map" id="initiatives-map" ng-class="{ 'collapsed' : map.showing_initiative }" height="480px" width="100%"
          lf-center="map.center" defaults="map.defaults" layers="map.layers" markers="map.markers" controls="map.controls" >
</leaflet>

<div class="initiatives-grid" ng-if="!map.showing_map" ng-class="{ 'collapsed' : map.showing_initiative }">
    <div class="initiatives-grid__item" ng-repeat="marker in map.markers" ng-hide="marker.layer=='hidden'" ng-click="map.showInitiativeInfo(marker)">
        <img ng-show="marker.img" src="{{ marker.img }}" />
        <div ng-hide="marker.img" class="initiative_blank-image">
            <span class="icon-agent"></span>
        </div>
        <div class="initiative-caption">
          <p class="initiative-name">{{ marker.name }}</p>
          <p class="initiative-city">{{ marker.city }} / {{ marker.country }}</p>
        </div>
    </div>
</div>
