  <!-- Navigation filters on initiative map -->

<ul class="map-filters--{{map.section}}">
    <li class="map-filters__filter--{{map.section}}">
        <p class="map-filters__label">
            <span class="icon-city"></span>
            <span class="map-filters__filter-name">Ciudad</span>
        </p>
        <ul class="map-filters__categories--{{map.section}}">
            <div ng-repeat="(country,cities) in map.cities">
                <div class="cities-wrapper">
                    <p class="category-country">{{ country }}</p>
                    <li class="map-filters__category category-city"
                        ng-click="map.toggleFilter('cities', city, true, coords)"
                        ng-repeat="(city,coords) in cities"
                        ng-class="{ 'active' : map.active_categories['cities'][city] }">
                        {{ city }}
                    </li>
                </div>
            </div>
        </ul>
    </li>
    <li class="map-filters__filter--{{map.section}}">
        <p class="map-filters__label">
           <span class="icon-topic"></span>
           <span class="map-filters__filter-name">Temática</span>
        </p>
        <ul class="map-filters__categories--{{map.section}}">
            <li class="map-filters__category category-topic-{{key}}"
                ng-repeat="(key,name) in map.topics"
                ng-click="map.toggleFilter('topics', key)"
                ng-class="{'active' : map.active_categories['topics'][key]}">
                {{ name }}
            </li>
        </ul>
    </li>
    <li class="map-filters__filter--{{map.section}}" ng-if="map.section == 'initiatives'">
        <p class="map-filters__label">
            <span class="icon-space"></span>
            <span class="map-filters__filter-name">Espacio</span>
        </p>
        <ul class="map-filters__categories--{{map.section}}">
            <li class="map-filters__category category-space-{{key}}"
                ng-repeat="(key,name) in map.spaces"
                ng-click="map.toggleFilter('spaces', key)"
                ng-class="{'active': map.active_categories['spaces'][key]}">
                {{ name }}
            </li>
        </ul>
    </li>
    <li class="map-filters__filter--{{map.section}}" ng-if="map.section == 'events'">
        <p class="map-filters__label">
            <span class="icon-activity"></span>
            <span class="map-filters__filter-name">Actividad</span>
        </p>
        <ul class="map-filters__categories--{{map.section}}">
            <li class="map-filters__category category-activity-{{key}}"
                ng-repeat="(key, name) in map.activities"
                ng-click="map.toggleFilter('activities', key)"
                ng-class="{'active': map.active_categories['activities'][key]}">
                {{ name }}
            </li>
        </ul>
    </li>
    <li class="map-filters__filter--{{map.section}}">
        <p class="map-filters__label">
            <span class="icon-agent"></span>
            <span class="map-filters__filter-name">Agente</span>
        </p>
        <ul class="map-filters__categories--{{map.section}}">
            <li class="map-filters__category category-agent-{{key}}"
                ng-repeat="(key,name) in map.agents"
                ng-click="map.toggleFilter('agents', key)"
                ng-class="{'active': map.active_categories['agents'][key]}">
                {{ name }}
            </li>
        </ul>
    </li>
</ul>
